.auth {
  display: block;
  font-size: 13px;  /* TO DO: move??? */
  max-width: 100%;
  min-width: 300px;
}

.auth .home-links {
  display: block;
  margin: 0 auto;
  max-width: content;
}

.auth .home-links .--desktop {
  display: block;
  margin: 0 auto;
}

.auth .home-links .--mobile {
  display: none;
  margin: 0 auto;
}

.auth form {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  margin: 20px auto 20px auto;
  padding: 14px 18px;
  width: 320px;
}

.auth h1 {
  display: block;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 14px;
}
  
.auth label {
  display: block;
  margin: 14px auto 4px auto;
  font-size: 13px;
  font-weight: 700;
}

.auth input {
  border: 1px solid #aaa;
  border-radius: 2px;
  display: block;
  height: 31px;
  margin: 0 auto 0 auto;
  padding: 3px 7px 3px 7px;
  width: 100%;
}

.auth button {
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
  border: 1px solid;
  border-color: #999 #777 #555 #777;
  border-radius: 2px;
  color: black;
  cursor: pointer;
  cursor: hand;
  /*font-family: 'Play', sans-serif;*/
  font-size: 14px;
  height: 31px;
  margin: 18px auto 24px auto;
  padding-top: 1px;
  width: 100%;
}
  
.auth button:hover,
.auth button:active {
  background-image: linear-gradient(to bottom, #8cbeec, #4493d8);
}

.auth .links {
  display: table;
  list-style-type: none;
  margin: 18px auto 0 auto;
  overflow: hidden;
  text-align: center;
}

.auth .links a {
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 2px 6px;
  text-decoration: none;
}

.auth .links a:link,
.auth .links a:visited {
  color: #68abe6;
}

.auth .links a:hover,
.auth .links a:active {
  color: #c10006;
  text-decoration: underline;
}

.auth .copyright {
  font-family: Arial, sans-serif;
  font-size: 11px;
  margin: 12px 0 18px 0;
  text-align: center;
}

@media (max-width: 899px) {
  .auth .home-links .--desktop {
    display: none;
    margin: 0 auto;
  }

  .auth .home-links .--mobile {
    display: block;
    margin: 0 auto;
  }

  .auth form {
    width: 280px;
  }
}
