/*.chat {}*/

.chat-desktop {display: block;}

.chat-mobile {display: none;}

.chat-mobile-tabs {}

.chat-mobile-tab {}

.chat-mobile-tab--curent {}

.chat-main {
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}

@media (max-width: 799px) {
  .chat-desktop {display: none;}

  .chat-mobile {display: block;}
}