/*.chat {

}*/

.chat__desktop {display: block;}

.chat__mobile {display: none;}

.chat__mobile-tabs {}

.chat__mobile-tab {}

.chat__mobile-tab--curent {}

.chat__main {
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  width: 100%;
}

@media (max-width: 799px) {
  .chat__desktop {display: none;}

  .chat__mobile {display: block;}
}