/* TO DO: test responsive design on actual smart phones */

.dashboard .account-settings label,
.dashboard .profile-settings label {
  display: block;
  margin: 14px 0 4px 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.dashboard .account-settings hr {
  border: 0 none;
  height: 1px;
}

/* ---------- ---------- ---------- ---------- ---------- */

.dashboard-avatar a,
.dashboard-avatar a:visited {
  color: #68abe6;
}

.dashboard-avatar input {
  margin-bottom: 10px;
}

.avatar-edit-tool {
  display: block;
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  min-width: 100%;
}

.dashboard-avatar-edit button.--cancel,
.dashboard-avatar-edit button.--submit {
  display: block;
  margin: 0 30px 10px 0;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  color: #000;
  height: 30px;
  width: 235px;
  line-height: 26px;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.dashboard-avatar-edit button.--cancel {
  background-color: #ffd6d6;
}

.dashboard-avatar-edit button.--submit {
  margin-top: 10px;
  background-color: #d5fdd5;
}

/* ---------- ---------- ---------- ---------- ---------- */

.dashboard-content {
  width: 100%;
}

.new-entity {
  display: block;
  margin: 0 30px 10px 0;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  color: #000;
  height: 30px;
  width: 235px;
  line-height: 26px;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  background-color: #d5fdd5;
  cursor: pointer;
}

.dashboard-content .no-content {
  font-size: 13px;
}

.dashboard-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 16px;
  padding-right: 10px;
  padding-left: 5px;
  height: 40px;
  width: 100%;
}

.dashboard-item .tiny {
  height: 28px;
  min-height: 28px;
  width: 28px;
  min-width: 28px;
}

.dashboard-item .name {
  width: 100%;
}

.dashboard-item .name a,
.dashboard-item .name a:visited {
  font-size: 1.4rem;
  color: #68abe6;
}

.dashboard-item .action,
.dashboard-item .delete,
.dashboard-item .unfavorite,
.dashboard-item .unsave {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid #aaa;
  border-radius: 2px;
  height: 19px;
  width: 95px;
  text-align: center;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.dashboard-item .action {
  background-color: #d5fdd5;
}

.dashboard-item .action a {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dashboard-content .dashboard-item .action a,
.dashboard-content .dashboard-item .action a:hover,
.dashboard-content .dashboard-item .action a:active,
.dashboard-content .dashboard-item .action a:visited {
  color: #000;
  text-decoration: none;
}

.dashboard-item .delete,
.dashboard-item .unfavorite,
.dashboard-item .unsave {
  background-color: #ffd6d6;
}

/* ---------- ---------- ---------- ---------- ---------- */

.dashboard-modal {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 280px;
}

.dashboard-modal p {
  margin-bottom: 10px;
  text-align: center;
}

.dashboard-modal button.--cancel,
.dashboard-modal button.--action {
  border: 1px solid #aaa;
  border-radius: 2px;
  color: black;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 26px;
  margin: 0 auto;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  width: 235px;
}

.dashboard-modal button.--action {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

/*

Light/Day/Sun Theme

*/

.light .dashboard .account-settings hr {
  background-color: #bfbfbf;
}

.light .dashboard-item {
  background-color: #fff;
  border-color: #ddd;
  color: #000;
}

.light .dashboard-item:nth-child(even) {
  background-color: #eee;
}

.light .dashboard-item a:hover {
  color: #c10006;
}

/*

Dark/Night/Moon Theme

*/

.dark .dashboard .account-settings hr {
  background-color: #444;
}

.dark .dashboard-item {
  background-color: #222;
  border-color: #3a3a3a;
  color: #aaa;
}

.dark .dashboard-item:nth-child(even) {
  background-color: #2d2d2d;
}

.dark .dashboard-item a:hover {
  color: #690004;
}
