/* TO DO: test responsive design on actual smart phones */

.dashboard-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  left: 0;
  top: 137px;
  margin: 0;
  /*border: 2px solid #bfddfa;*/
  width: 450px;
  min-width: 450px;
  height: 100vh;
  min-height: 100vh;
  z-index: 3;
}

.dashboard-nav .menu-item,
.dashboard-nav .submenu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 32px;
  padding-right: 18px;
  font-size: 1.4rem;
  cursor: pointer;
}

.dashboard-nav .menu-item.--active,
.dashboard-nav .submenu-item.--active {
  background-color: #bfddfa;
}

.dashboard-nav .menu-item,
.dashboard-nav .expand-collapse .menu-item span,
.dashboard-nav--mobile .expand-collapse .menu-item span {
  font-size: 1.4rem;
  text-indent: 18px;
}

.dashboard-nav .submenu-item {
  text-indent: 36px;
}

.dashboard-nav--mobile {
  display: none;
  position: absolute;
  left: 0;
  top: 48px;
  margin: 0;
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  /*z-index: 2;*/
}

.dashboard-nav--mobile .menu-item,
.dashboard-nav--mobile .submenu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 32px;
  padding-right: 18px;
  font-size: 1.4rem;
  text-indent: 18px;
}

/*-------------------------------------------------*/

.dashboard .account-settings label {
  display: block;
  margin: 14px 0 4px 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.dashboard .account-settings hr {
  border: 0 none;
  height: 1px;
}

.dashboard-avatar a,
.dashboard-avatar a:visited {
  color: #68abe6;
}

.dashboard-avatar,
.dashboard-avatar-edit {
  width: 100%;
}

.dashboard-avatar label {
  font-size: 1.3rem;
  margin-bottom: 10px;
  padding: 0 10px;
}

.dashboard-avatar input {
  margin-bottom: 10px;
}

.avatar-crops {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.avatar-crops div.--full,
.avatar-crops div.--tiny {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.avatar-crops div.--full {
  order: 1;
}

.avatar-crops div.--tiny {
  order: 2;
}

.avatar-crops img.--full {
  margin-left: 5px;
  max-height: 250px;
  min-height: 250px;
}

.avatar-crops img.--tiny {
  margin-left: 5px;
  max-height: 25px;
  min-height: 25px;
}

.avatar-edit-tool {
  display: block;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.dashboard-avatar-edit p {
  display: block;
}

.dashboard-avatar-edit button.--cancel,
.dashboard-avatar-edit button.--submit {
  border: 1px solid #aaa;
  border-radius: 2px;
  display: inline-block;
  height: 30px;
  margin-right: 30px;
  padding: 1px 5px;
  width: 235px;
}

.dashboard-avatar-edit button.--cancel {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.dashboard-avatar-edit button.--submit {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}

.dashboard-content {
  padding: 10px;
  width: 100%;
}

/* ??? */
.dashboard h2 {
  margin-bottom: 10px;
}

/* ??? */
.dashboard h2.--tall {
  margin-bottom: 50px;
}

.new-entity {
  display: block;
  margin: 0 30px 10px 0;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  color: #000;
  height: 30px;
  width: 235px;
  line-height: 26px;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
  cursor: pointer;
}

.dashboard-content .no-content {
  font-size: 13px;
}

.dashboard-item {
  align-items: center;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 28px;
  line-height: 24px;
  width: 100%;
}

.dashboard-item:first-of-type {
  border-top: 1px solid;
}

.dashboard-item .tiny {
  height: 18px;
  padding-left: 1px;
  width: 28px;
}

.dashboard-item .name {
  padding: 0 10px;
  width: 760px;
}

.dashboard-item a,
.dashboard-item a:visited {
  color: #68abe6;
}

.dashboard-item .action,
.dashboard-item .delete {
  text-align: center;
  width: 75px;
}

.dashboard-item .unfavorite {
  text-align: center;
  width: 95px;
}

.dashboard-item-delete,
.dashboard-item .unfavorite {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
  border: 1px solid #aaa;
  border-radius: 2px;
  color: #000;
  cursor: pointer;
  height: 19px;
  line-height: 18px;
  margin-right: 1px;
}

.dashboard-modal {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 280px;
}

.dashboard-modal p {
  margin-bottom: 10px;
  text-align: center;
}

.dashboard-modal button.--cancel,
.dashboard-modal button.--action {
  border: 1px solid #aaa;
  border-radius: 2px;
  color: black;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 26px;
  margin: 0 auto;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  width: 235px;
}

.dashboard-modal button.--action {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

/*

Light/Day/Sun Theme

*/

.light .dashboard-nav,
.light .dashboard-nav--mobile,
.light .dashboard-nav--mobile .submenu-item {
  background-color: #fff;
}

.light .dashboard-nav .expand-collapse .menu-item,
.light .dashboard-nav--mobile .expand-collapse .menu-item {
  background-color: #ccc;
}

.light .dashboard .account-settings hr {
  background-color: #bfbfbf;
}

.light .dashboard-item {
  background-color: #fff;
  border-color: #ddd;
  color: #000;
}

.light .dashboard-item:nth-child(even) {
  background-color: #eee;
}

.light .dashboard-item a:hover {
  color: #c10006;
}

/*

Dark/Night/Moon Theme

*/

.dark .dashboard .account-settings hr {
  background-color: #444;
}

.dark .dashboard-item {
  background-color: #222;
  border-color: #3a3a3a;
  color: #aaa;
}

.dark .dashboard-item:nth-child(even) {
  background-color: #2d2d2d;
}

.dark .dashboard-item a:hover {
  color: #690004;
}

@media (max-width: 899px) {
  .dashboard-nav {
    top: 181px;
    margin: 0;
    width: 100vw;
    min-width: 100vw;
  }
}

/* TO DO: flex */
@media (max-width: 1209px) {
  .avatar-crops,
  .avatar-crops div.--full,
  .avatar-crops div.--tiny {
    flex-direction: column;
  }
  
  .avatar-crops img.--full,
  .avatar-crops img.--tiny {
    margin-left: 0;
    padding-top: 5px;
  }

  .dashboard-avatar-edit button.--cancel,
  .dashboard-avatar-edit button.--submit {
    display: block;
    margin: 0 auto;
    width: 235px;
  }

  .dashboard-tabs button,
  .dashboard-subtabs button {
    padding: 0;
    width: 25%;
  }

  .new-entity {
    margin: 0 auto 10px auto;
  }

  .dashboard-item .name {
    width: 100%;
  }

  .dashboard-item .action,
  .dashboard-item .delete {
    padding: 0 2px;
    width: 54px;
  }

  /*.dashboard-item-disown,
  .dashboard-item-unsave {}*/

  .dashboard-item .unfavorite {
    padding: 0 2px;
    width: 74px;
  }
}
