.search-results__filter-title {
  display: block;
  font-size: 1.6rem;
  font-weight: 900;
  margin: 0 0 12px 5px;
}

.sui-facet__title {
  font-family: 'Play', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  margin-left: 5px;
  padding: 3px 0 8px 0;
  text-align: left;
}

.equipments {
  padding: 10px;
}

.equipments a {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.equipments a:active,
.equipments a:hover {
  background-color: #eee;
}

.equipments .name {
  font-size: 1.6rem;
  font-weight: 900;
  text-decoration: none;
}

.equipments a:hover .equipments .text .equipments .name,
.equipments a:active .equipments .text .equipments .name {
  color: #c10006;
}

.equipments .type {
  display: inline-block;
  margin-right: 5px;
}

.equipments img {
  height: 62px;
  width: 100px;
}
