/* TO DO: test responsive design on actual smart phones */

.equipment-form label {
  display: block;
  margin: 14px 0 4px 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.equipment-form .notes {
  height: 106px;
  width: 235px;
}
