/* TO DO: test responsive design on actual smart phones */

/*.friends {}*/

.friends-find {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
}

.friends-find label {
  font-size: 1.4rem;
  margin: 7px 3px 10px 0;
}

.friends-find input {
  height: 30px;
  margin: 0 30px 10px 0;
}

.friends-find button.--request,
.friends-find button.--block {
  border: 1px solid #aaa;
  border-radius: 2px;
  color: #000;
  display: block;
  height: 30px;
  line-height: 26px;
  margin: 0 30px 10px 0;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  width: 235px;
}

.friends-find button.--request {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}

.friends-find button.--block {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.friends-content {
  padding: 10px;
  width: 100%;
}

.friends-content.send label,
.friends-content.block label {
  display: block;
  margin: 14px 0 4px 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.friends-content.send button,
.friends-content.block button {
  display: block;
  margin: 0 30px 10px 0;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  color: #000;
  height: 30px;
  width: 235px;
  line-height: 26px;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
  cursor: pointer;
}

.friends-list {
  width: 100%;
}

.friends-list .no-content {
  font-size: 13px;
}

/*.friends-list--none {font-size: 1.3rem;
} ???*/

.friends-item {
  align-items: center;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 29px;
  line-height: 24px;
  width: 100%;
}

.friends-item:first-of-type {
  border-top: 1px solid;
}

.friends-item .avatar {
  height: 25px;
  margin-left: 1px;
  width: 25px;
}

.friends-item .username {
  padding: 0 10px;
  width: 760px;
}

.friends-item a,
.friends-item a:visited {
  color: #68abe6;
}

.friends-item .action,
.friends-item .delete {
  border: 1px solid #aaa;
  border-radius: 2px;
  color: #000;
  cursor: pointer;
  height: 19px;
  line-height: 18px;
  margin-right: 1px;
  text-align: center;
  width: 75px;
}

.friends-item .action {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}

.friends-item .delete {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

/* TO DO: change */
@media (max-width: 1209px) {
  .friends-find {
    flex-direction: column;
  }

  .friends-find label,
  .friends-find input,
  .friends-find button.--request,
  .friends-find button.--block {
    display: block;
    margin: 0 auto 10px auto;
  }

  .friends-tabs button {
    padding: 0;
  }

  .friends-item .action,
  .friends-item .delete {
    padding: 0 2px;
    width: 44px;
  }
}

.light .friends-item {
  border-color: #ddd;
}

.light .friends-item:nth-child(even) {
  background-color: #eee;
}

.light .friends-item a:hover {
  color: #c10006;
}

.dark .friends-item {
  border-color: #3a3a3a;
}

.dark .friends-item:nth-child(even) {
  background-color: #2d2d2d;
}

.dark .friends-item a:hover {
  color: #690004;
}
