.home {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 31px auto 0px auto;
  max-width: 1200px;
  min-width: 300px;
}

.feed {
  display: block;
  margin: 10px;
  max-width: 620px;
  min-width: 280px;
  order: 2;
}

.feed-item {
  border-bottom: 20px solid;
  padding: 10px;
}

.feed-light {
  background-color: #fff;
  color: #000;
}

.feed-light .feed-item {
  border-bottom-color: #eee;
}

.feed-dark {
  background-color: #222;
  color: #aaa;
}

.feed-dark .feed-item {
  border-bottom-color: #111;
}

@media (max-width: 899px) {
  .feed {
    max-width: calc(90% - 10px);
  }
}

@media (max-width: 599px) {
  .feed {
    max-width: 90%;
  }
}

.suggestions {
  margin: 10px 0 0 10px;
  max-width: 340px;
  min-width: 280px;
  order: 3;
  padding: 10px;
}

.nearby-stores {
  height: 260px;
  width: 260px;
}

.nearby-stores iframe,
.nearby-stores button {
  height: 100%;
  margin-bottom: 5px;
  width: 100%;
}

.nearby-stores button {
  background-image: linear-gradient(to bottom, #eee, #bbb);
  border: 1px solid;
  border-color: #fff #888 #888 #fff;
  border-radius: 1px;
  cursor: pointer;
}

.suggestions-light {
  background-color: #fff;
}

.suggestions-light .suggestions hr {
  display: block;
  color: #000;
  margin-bottom: 5px;
}

.suggestions-light .suggestions__line {
  background-color: #bfbfbf;
  border: 0 none;
  height: 1px;
  margin-bottom: 5px;
}

.suggestions-dark {
  background-color: #222;
}

.suggestions-dark .suggestions hr {
  color: #aaa;
  display: block;
  margin-bottom: 5px;
}

.suggestions-dark .suggestions__line {
  background-color: #444;
  border: 0 none;
  height: 1px;
  margin-bottom: 5px;
}

@media (max-width: 899px) {
  .suggestions {
    max-width: calc(90% - 10px);
  }
}

@media (max-width: 599px) {
  .suggestions {
    max-width: 90%;
  }
}

.promo {
  display: block;
  width: 240px;
}

.promo .large {
  display: block;
}

.promo .small {
  display: none;
}

@media (max-width: 1279px) {
  .promo {
    display: block;
    width: 180px;
  }

  .promo .large {
    display: none;
  }
  
  .promo .small {
    display: block;
  }
}
