/*.home {
  margin-top: 31px;
}*/

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.landing p {
  font-size: 1.4rem;
}

/*.feed {}*/

.feed-item {
  border-bottom: 20px solid;
  padding: 10px;
}

/*.suggestions {}*/

.nearby-stores {
  width: 260px;
  height: 260px;
}

.nearby-stores iframe,
.nearby-stores button {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.nearby-stores button {
  border: 1px solid;
  border-color: #fff #888 #888 #fff;
  border-radius: 1px;
  background-image: linear-gradient(to bottom, #eee, #bbb);
  cursor: pointer;
}

.promo {
  display: block;
  width: 240px;
}

.promo .large {
  display: block;
}

.promo .small {
  display: none;
}

@media (max-width: 1279px) {
  .promo {
    display: block;
    width: 180px;
  }

  .promo .large {
    display: none;
  }
  
  .promo .small {
    display: block;
  }
}

@media (max-width: 899px) {
  .feed,
  .suggestions {
    max-width: calc(90% - 10px);
  }
}

@media (max-width: 599px) {
  .feed,
  .suggestions {
    max-width: 90%;
  }
}

/*

Light/Day/Sun Theme

*/

.light .feed {
  background-color: #fff;
  color: #000;
}

.light .feed .feed-item {
  border-bottom-color: #eee;
}

.light .suggestions {
  background-color: #fff;
}

.light .suggestions .suggestions hr {
  display: block;
  color: #000;
  margin-bottom: 5px;
}

.light .suggestions .suggestions__line {
  background-color: #bfbfbf;
  border: 0 none;
  height: 1px;
  margin-bottom: 5px;
}

/*

Dark/Night/Moon Theme

*/

.dark .feed {
  background-color: #222;
  color: #aaa;
}

.dark .feed .feed-item {
  border-bottom-color: #111;
}

.dark .suggestions {
  background-color: #222;
}

.dark .suggestions .suggestions hr {
  color: #aaa;
  display: block;
  margin-bottom: 5px;
}

.dark .suggestions .suggestions__line {
  background-color: #444;
  border: 0 none;
  height: 1px;
  margin-bottom: 5px;
}
