/* TO DO: test responsive design on actual smart phones */

.ingredient-form label {
  display: block;
  margin: 14px 0 4px 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.ingredient-form .alt-names,
.ingredient-form .ingredient-image {
  margin-top: 18px;
}

.ingredient-form .alt-name-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 6px;
  border: 1px solid;
  padding: 6px;
  width: fit-content;
}

.alt-name-row .pair {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.alt-name-row label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 23px;
  font-size: 1.3rem;
  font-weight: 700;
}

.alt-name-row input {
  margin: 0;
  border: 1px solid;
  border-radius: 1px;
  padding: 0;
  height: 25px;
  max-width: 235px;
  min-width: 70px;
  width: 235px;
}

.alt-name-row button.--remove {
  background-color: #ffd6d6;
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 12px;
  height: 19px;
  padding: 1px 2px;
  cursor: pointer;
}

.ingredient-form button.--add-row {
  background-color: #d5fdd5;
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 12px;
  padding: 1px 2px;
  cursor: pointer;
}

.ingredient-form .notes {
  height: 106px;
  width: 235px;
}

.ingredient-form .ingredient-image {
  border: 1px solid;
  padding: 6px;
  width: fit-content;
}

.ingredient-form .current-image {
  height: 280px;
  width: 280px;
}

.ingredient-form .image-cancel {
  display: block;
  margin: 0 30px 10px 0;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  height: 30px;
  width: 235px;
  line-height: 26px;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #ffd6d6;
  cursor: pointer;
}

@media (max-width: 599px) {
  .alt-name-row {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
    width: fit-content;
  }

  .alt-name-row input {
    max-width: 160px;
    min-width: 70px;
    width: 160px;
  }

  .alt-name-row button.--remove {
    margin-top: 6px;
    width: fit-content;
  }
}

.light .ingredient-form .ingredient-image,
.light .ingredient-form .alt-name-row {
  border-color: #bbb;
}

.dark .ingredient-form .ingredient-image,
.dark .ingredient-form .alt-name-row {
  border-color: #666;
}
