.search-results__filter-title {
  display: block;
  font-size: 1.6rem;
  font-weight: 900;
  margin: 0 0 12px 5px;
}

.ingredients {
  padding: 10px;
}

.ingredients a {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.ingredients a:hover,
.ingredients a:active {
  background-color: #eee;
}

.ingredients .name {
  font-size: 1.6rem;
  font-weight: 900;
  text-decoration: none;
}

.ingredients a:hover .ingredients .text .ingredients .name,
.ingredients a:active .ingredients .text .ingredients .name {
  color: #c10006;
}

.ingredients .type {
  display: inline-block;
  margin-right: 5px;
}

.ingredients img {
  height: 62px;
  width: 100px;
}
