/*.new-plan {}*/

.new-plan .name label {
  display: block;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 30px;
  margin-right: 5px;
  order: 1;
}

.new-plan .name input {
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  display: block;
  height: 31px;
  order: 2;
  padding: 3px 7px 3px 7px;
  width: 685px;
}

.new-plan .calendar {
  height: 480px;
  margin: 0 auto;
  width: 100%;
}

.new-plan-recipes {
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 125px;
  justify-content: space-around;
  overflow-y: scroll;
  padding: 6px;
  width: 756px;
}

.new-plan-recipe {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin: 6px 1px;
}

/*
.new-plan-recipe {
  align-content: center;
  background-color: #FFF3CC;
  border: 1px solid #FFDEC3;
  box-shadow: 1px 1px 1px #999;
  cursor: move;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.1rem;
  height: 27px;
  margin: 6px 1px;
  max-width: 200px;
  min-width: 100px;
  overflow: hidden;
  text-align: center;
  width: 90%;
}

.new-plan-recipe .image {margin: 1px 0 0 1px;}

.new-plan-recipe .text {
  font-size: 1.1rem;
  text-align: center;
  width: 100%;
}
*/

.new-plan .recipes-tabs {
  border-bottom: 2px solid #6cabe4;
  margin-top: 10px;
  width: 755px;
}

.new-plan .recipes-tabs button {
  background-image: linear-gradient(to bottom, #eee, #bbb);
  border-color: #ddd #666 #666 #ddd;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  color: #222;
  cursor: pointer;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  height: 30px;
  padding: 0 8px;
  width: 151px;
}

.new-plan .recipes-tabs button.--active {
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
}

.new-plan .finish {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.new-plan .cancel {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 280px;
}

.new-plan .cancel .cancel-cancel,
.new-plan .cancel .cancel-button {margin: 0 auto;}

.new-plan .cancel p {
  margin-bottom: 10px;
  text-align: center;
}



.light .new-plan .name label {color: #777;}

.light .new-plan .name input {
  background-color: #fff;
  border-color: #bbb;
  color: #000;
}

.light .new-plan .day--white,
.light .new-plan .expanded-day--white {background-color: #fff;}

.light .new-plan .day--green,
.light .new-plan .expanded-day--green {background-color: #d6ffd6;}

.light .new-plan-recipes {border-color: #bfbfbf;}

.light .new-plan-recipe {
  background-color: #fff3cc;
  border-color: #ffdec3;
  box-shadow: 1px 1px 1px #999;
  color: #000;
}



.dark .new-plan .name label {color: #999;}

.dark .new-plan .name input {
  background-color: #1e1e1e;
  border-color: #666;
  color: #bbb;
}

.dark .new-plan .day--white,
.dark .new-plan .expanded-day--white {background-color: #222;}

.dark .new-plan .day--green,
.dark .new-plan .expanded-day--green {background-color: #3d6d3d;}

.dark .new-plan-recipes {border-color: #5a5a5a;}

.dark .new-plan-recipe {
  background-color: #afae8f;
  border-color: #826e52;
  box-shadow: 1px 1px 1px #131313;
  color: #000;
}



@media (max-width: 1209px) {
  .new-plan .finish {padding: 10px 0;}
}