/*.new-recipe {}*/

.new-recipe-required-equipment,
.new-recipe-required-ingredients,
.new-recipe-required-subrecipes,
.new-recipe-recipe-image,
.new-recipe-equipment-image,
.new-recipe-ingredients-image,
.new-recipe-cooking-image {
  padding-top: 18px;
}

.new-recipe__h2 {
  display: block;
  font-size: 1.7rem;
  padding-top: 18px;
}

/* ? */
.new-recipe select:required {box-shadow: none;}

.new-recipe-ownerships {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.new-recipe-ownership {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
  max-height: 32px;
  max-width: 90px;
  min-height: 32px;
  min-width: 90px;
  width: 90px;
}

.new-recipe-ownership__input {
  display: block;
  height: 13px;
  margin: 9px 0 10px 0;
  max-height: 13px;
  min-height: 13px;
  max-width: 13px;
  min-width: 13px;
  order: 1;
  width: 13px;
}

.new-recipe-ownership__label {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  height: 13px;
  margin: 9px 0 19px 4px;
  max-height: 13px;
  min-height: 13px;
  order: 2;
  width: fit-content;
}

.new-recipe-methods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 540px;
}

.new-recipe-method {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
  max-height: 32px;
  max-width: 90px;
  min-height: 32px;
  min-width: 90px;
  width: 90px;
}

.new-recipe-method__input {
  display: block;
  height: 13px;
  margin: 9px 0 10px 0;
  max-height: 13px;
  max-width: 13px;
  min-height: 13px;
  min-width: 13px;
  order: 1;
  width: 13px;
}

.new-recipe-method__label {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  height: 13px;
  margin: 9px 0 10px 4px;
  max-height: 13px;
  min-height: 13px;
  order: 2;
  width: fit-content;
}

.new-recipe-title,
.new-recipe-description {
  border: 1px solid;
  border-radius: 1px;
  display: block;
  height: 31px;
  margin: 0 auto 0 auto;
  padding: 3px 7px 3px 7px;
  width: 100%;
}

.recipe-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 6px;
}

.recipe-row__label {
  font-size: 1.3rem;
  font-weight: 700;
  height: 23px;
  margin: 0 4px 0 18px;
  padding-top: 3px;
}

.recipe-row__select {height: 23px;}

.recipe-row__input {
  border: 1px solid;
  border-radius: 1px;
  height: 25px;
  max-width: 70px;
  min-width: 70px;
  width: 70px;
}

.recipe-row__select {height: 23px;}

.recipe-row__select--subrecipe {
  max-width: 233px;
  min-width: 233px;
  width: 233px;
}

.recipe-row__button--remove {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 12px;
  height: 19px;
  margin-left: 18px;
  padding: 1px 2px;
}

.new-recipe__button--add-row {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 12px;
  padding: 1px 2px;
}

.new-recipe-directions {
  height: 102px;
  width: 100%;
}

.new-recipe__h4 {padding-bottom: 3px;}

.new-recipe-finish {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

@media (max-width: 1000px) {
  .recipe-row {
    flex-direction: column;
    width: fit-content;
  }

  .recipe-row__button--remove {
    margin-top: 6px;
    width: fit-content;
  }

  .new-recipe__button--add-row {margin-top: 12px;}
}

@media (max-width: 899px) {
  .new-recipe-finish {flex-direction: column;}
}