/*.plan {

}*/

.plan .name {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  width: 100%;
}

.plan .name label,
.plan .name span {
  display: block;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 30px;
}

.plan .name label {
  margin-right: 5px;
  order: 1;
}

.plan .name span {order: 2;}

.plan .calendar {
  height: 328px;
  margin: 0 auto;
  width: 100%;
}

.plan__monthly-plan {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.monthly-plan {
  height: 321px;
  max-height: 321px;
  order: 1;
  width: 756px;
}

.monthly-plan .body,
.monthly-plan .header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  width: 100%;
}

.monthly-plan .header {height: 20px;}

.monthly-plan .header span {
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.monthly-plan .body {
  border-style: solid;
  border-width: 1px;
  height: 300px;
  max-height: 300px;
  min-height: 300px;
}

.monthly-plan__body-day {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* is this really needed? */
/* :after? */
.monthly-plan__body-day:before {
  content: "";
  display: inline-block;
  height: 0;
  padding-top: 100%;
  position: relative;
  width: 1px;
}

.body-day__content {
  align-items: end;
  bottom: 0;
  display: grid;
  justify-items: start;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.expanded-day-container {
  border-style: solid;
  border-width: 1px;
  height: 319px;
  margin: 1px 0 0 10px;
  order: 2;
  width: 150px;
}

/*
is absolute really needed? change span to div?
copy to .new-plan .date
*/
.plan .date {
  color: #afafaf;
  height: content;
  padding: 1px 3px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  width: content;
}

.plan .day,
.plan .expanded-day {
  border-style: solid;
  border-width: 1px;
  cursor: hand;
  cursor: pointer;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  padding-top: 18px;
  position: relative;
  transform: none;
}

.plan .day {
  padding-left: 3px;
  transform: none;
}

.plan .expanded-day {
  border-style: solid;
  border-width: 1px;
  padding-left: 6px;
}

.plan-recipe {
  align-content: center;
  background-color: #FFF3CC;
  border: 1px solid #FFDEC3;
  box-shadow: 1px 1px 1px #999;
  cursor: move;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.1rem;
  height: 27px;
  margin: 6px 1px;
  max-width: 200px;
  min-width: 100px;
  overflow: hidden;
  text-align: center;
  width: 90%;
}

.plan-recipe .image {margin: 1px 0 0 1px;}

.plan-recipe .text {
  font-size: 1.1rem;
  text-align: center;
  width: 100%;
}



.light .monthly-plan .header,
.light .monthly-plan .header span {
  background-color: #b1d7f9;
  color: #000;
}

.light .monthly-plan .body {
  background-color: #b1d7f9;
  border-color: #b1d7f9;
}

.light .expanded-day-container {border-color: #fff;}

.light .plan .date {color: #afafaf;}

.light .plan .expanded-day {
  background-color: #fff;
  border-color: #bfbfbf;
  box-shadow: 1px 1px 1px #555;
}



.dark .monthly-plan .header,
.dark .monthly-plan .header span {
  background-color: #507ea7;
  color: #bbb;
}

.dark .monthly-plan .body {
  background-color: #507ea7;
  border-color: #507ea7;
}

.dark .expanded-day-container {border-color: #222;}

.dark .plan .date {color: #666;}

.dark .plan .expanded-day {
  background-color: #222;
  border-color: #5a5a5a;
  box-shadow: 1px 1px 1px #131313;
}