/* TO DO: test responsive design on actual smart phones */

.plan-detail .author {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
}

.plan-detail .author span {
  font-weight: 700;
}

.plan-detail .author a {
  font-size: 1.4rem;

}

.plan-detail .recipe {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 1px;
  border: 1px solid;
  padding: 1px;
  height: 32px;
  overflow: hidden;
}

.plan-detail .recipe .image {
  height: 28px;
  width: 28px;
}

.plan-detail .recipe .text {
  font-size: 1.4rem;
  text-indent: 4px;
}

.plan-detail .recipe .text a {
  color: #000;
}

.plan-detail .recipe .text a:hover,
.plan-detail .recipe .text a:active {
  
}

.plan-detail .calendar {
  height: 332px;
  width: 100%;
}

.plan-detail .calendar .weekdays {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 2px;
  padding: 0;
  height: 32px;
  background-color: #f1f1f1;
}

.plan-detail .calendar .weekdays span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  font-size: 1.4rem;
  text-align: center;
  user-select: none;
  background-color: #f1f1f1;
}

.plan-detail .calendar .weekly-plan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  width: 100%;
  height: 300px;
  background-color: #f1f1f1;
}

.plan-detail .calendar .weekly-plan .day {
  width: 100%;
  min-width: 100%;
  height: 100%;
  overflow: hidden;  /* TO DO: set max recipes per day = 7 */
  background-color: #fff;
}

/*

Light/Day/Sun Theme

*/

.light .plan-detail .name input {
  background-color: #fff;
  border-color: #bbb;
  color: #000;
}

.light .plan-detail .weekly-plan .day {
  background-color: #fff;
}

.light .plan-detail .weekly-plan .day .recipe {
  background-color: #fff3cc;
  border-color: #ffdec3;
  box-shadow: 1px 1px 1px #999;
  color: #000;
}

/*

Dark/Night/Moon Theme

*/

.dark .plan-detail .name label {
  color: #999;
}

.dark .plan-detail .name input {
  background-color: #1e1e1e;
  border-color: #666;
  color: #bbb;
}

.dark .plan-detail .weekly-plan .day {
  background-color: #222;
}

.dark .plan-detail .weekly-plan .day .recipe {
  background-color: #afae8f;
  border-color: #826e52;
  box-shadow: 1px 1px 1px #131313;
  color: #000;
}
