.plan-form .cols {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.plan-form .tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 140px;
  min-width: 140px;
  height: 332px;
  max-height: 332px;
  min-height: 332px;
}

.plan-form .tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 32px;
  padding-right: 18px;
  font-size: 1.4rem;
  text-indent: 18px;
  user-select: none;
  cursor: pointer;
}

.plan-form .tab.--active {
  background-color: #bfddfa;
}

.plan-form .recipes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 2px;
  border-left: 2px solid;
  padding: 2px;
  width: 370px;
  height: 332px;
  max-height: 332px;
  min-height: 332px;
  overflow-y: scroll;
}

.plan-form .recipe {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 1px;
  border: 1px solid;
  padding: 1px;
  height: 32px;
  overflow: hidden;
  cursor: move;
}

.plan-form .recipe .image {
  height: 28px;
  width: 28px;
}

.plan-form .recipe .text {
  font-size: 1.4rem;
  text-indent: 4px;
}

.plan-form .calendar {
  height: 332px;
  width: 100%;
}

.plan-form .calendar .weekdays {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 2px;
  padding: 0;
  height: 32px;
}

.plan-form .calendar .weekdays span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  font-size: 1.4rem;
  text-align: center;
  user-select: none;
}

.plan-form .calendar .weekly-plan {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  width: 100%;
  height: 300px;
}

.plan-form .calendar .weekly-plan .day {
  width: 100%;
  min-width: 100%;
  height: 100%;
  overflow: hidden;  /* TO DO: set max recipes per day = 7 */
  background-color: #fff;
  cursor: pointer;
}

.plan-form .name label,
.plan-form .name span {
  display: block;
  margin: 14px 0 4px 0;
  font-size: 1.3rem;
  font-weight: 700;
}

@media (max-width: 1209px) {
  .plan-form .finish {
    padding: 10px 0;
  }
}

/*

Light/Day/Sun Theme

*/

.light .plan-form .name input {
  background-color: #fff;
  border-color: #bbb;
  color: #000;
}

.light .plan-form .calendar .weekdays,
.light .plan-form .calendar .weekdays span,
.light .plan-form .calendar .weekly-plan {
  background-color: #f1f1f1;
}

.light .plan-form .day.--white {
  background-color: #fff;
}

.light .plan-form .day.--green {
  background-color: #d6ffd6;
}

.light .plan-form .recipes {
  border-color: #bfddfa;
}

.light .plan-form .recipe {
  background-color: #fff3cc;
  border-color: #ffdec3;
  box-shadow: 1px 1px 1px #999;
  color: #000;
}

/*

Dark/Night/Moon Theme

*/

.dark .plan-form .tab.--active {
  color: #000;
}

.dark .plan-form .name label {
  color: #999;
}

.dark .plan-form .name input {
  background-color: #1e1e1e;
  border-color: #666;
  color: #bbb;
}

.dark .plan-form .calendar .weekdays,
.dark .plan-form .calendar .weekdays span,
.dark .plan-form .calendar .weekly-plan {
  background-color: #333;
}

.dark .plan-form .day.--white {
  background-color: #222;
}

.dark .plan-form .day.--green {
  background-color: #3d6d3d;
}

.dark .plan-form .recipes {
  border-color: #bfddfa;
  /*border-color: #333;  #5a5a5a;*/
}

.dark .plan-form .recipe {
  background-color: #d7c9a2;  /*#ffe0ab;*/
  border-color: #826e52;
  box-shadow: 1px 1px 1px #131313;
  color: #000;
}
