/*.plan-form {}*/

.plan-form .name label {
  display: block;
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 30px;
  margin-right: 5px;
  order: 1;
}

.plan-form .name input {
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  display: block;
  height: 31px;
  order: 2;
  padding: 3px 7px 3px 7px;
  width: 685px;
}

.plan-form .calendar {
  height: 480px;
  margin: 0 auto;
  width: 100%;
}

.plan-form-recipes {
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 125px;
  justify-content: space-around;
  overflow-y: scroll;
  padding: 6px;
  width: 756px;
}

.plan-form-recipe {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  margin: 6px 1px;
}

/*
.plan-form-recipe {
  align-content: center;
  background-color: #FFF3CC;
  border: 1px solid #FFDEC3;
  box-shadow: 1px 1px 1px #999;
  cursor: move;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.1rem;
  height: 27px;
  margin: 6px 1px;
  max-width: 200px;
  min-width: 100px;
  overflow: hidden;
  text-align: center;
  width: 90%;
}

.plan-form-recipe .image {
  margin: 1px 0 0 1px;
}

.plan-form-recipe .text {
  font-size: 1.1rem;
  text-align: center;
  width: 100%;
}
*/

.plan-form .recipes-tabs {
  border-bottom: 2px solid #6cabe4;
  margin-top: 10px;
  width: 755px;
}

.plan-form .recipes-tabs button {
  background-image: linear-gradient(to bottom, #eee, #bbb);
  border-color: #ddd #666 #666 #ddd;
  border-radius: 1px;
  border-style: solid;
  border-width: 1px;
  color: #222;
  cursor: pointer;
  font-family: 'Play', sans-serif;
  font-size: 1.3rem;
  height: 30px;
  padding: 0 8px;
  width: 151px;
}

.plan-form .recipes-tabs button.--active {
  background-image: linear-gradient(to bottom, #b8dbfb, #68abe6);
}

.plan-form .finish {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.plan-form .cancel {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 280px;
}

.plan-form .cancel .cancel-cancel,
.plan-form .cancel .cancel-button {
  margin: 0 auto;
}

.plan-form .cancel p {
  margin-bottom: 10px;
  text-align: center;
}

.light .plan-form .name label {
  color: #777;
}

.light .plan-form .name input {
  background-color: #fff;
  border-color: #bbb;
  color: #000;
}

.light .plan-form .day--white,
.light .plan-form .expanded-day--white {
  background-color: #fff;
}

.light .plan-form .day--green,
.light .plan-form .expanded-day--green {
  background-color: #d6ffd6;
}

.light .plan-form-recipes {
  border-color: #bfbfbf;
}

.light .plan-form-recipe {
  background-color: #fff3cc;
  border-color: #ffdec3;
  box-shadow: 1px 1px 1px #999;
  color: #000;
}

.dark .plan-form .name label {
  color: #999;
}

.dark .plan-form .name input {
  background-color: #1e1e1e;
  border-color: #666;
  color: #bbb;
}

.dark .plan-form .day--white,
.dark .plan-form .expanded-day--white {
  background-color: #222;
}

.dark .plan-form .day--green,
.dark .plan-form .expanded-day--green {
  background-color: #3d6d3d;
}

.dark .plan-form-recipes {
  border-color: #5a5a5a;
}

.dark .plan-form-recipe {
  background-color: #afae8f;
  border-color: #826e52;
  box-shadow: 1px 1px 1px #131313;
  color: #000;
}

@media (max-width: 1209px) {
  .plan-form .finish {
    padding: 10px 0;
  }
}
