/* TO DO: test responsive design on actual smart phones */

/* TO DO: clean and finish */

.profile .avatar {
  height: 280px;
  width: 280px;
}

.profile .tabs {
  margin-bottom: 10px;
}

.profile .tabs button {
  border: none;
  padding: 0 8px;
  height: 30px;
  width: 235px;
  font-size: 1.3rem;
  line-height: 26px;
  background-color: #bbb;
  color: #222;
  cursor: pointer;
}

.profile .tabs button.--active {
  background-color: #b8dbfb;
}

.profile .none {
  font-size: 1.3rem;
}

.profile .item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  height: 28px;
  width: 100%;
  line-height: 24px;
}

.profile .item:first-of-type {
  border-top: 1px solid;
}

.profile .item .image {
  height: 18px;
  padding-left: 1px;
  width: 28px;
}

.profile .item .name {
  padding: 0 10px;
  width: 760px;
}

.profile .item .name a,
.profile .item .name a:visited {
  color: #68abe6;
}

@media (max-width: 1209px) {
  .profile {
    width: 100%;
  }
}

@media (max-width: 509px) {
  .profile .tabs {
    width: 100%;
  }

  .profile .tabs button {
    width: 50%;
  }

  .profile .item .name {
    width: 100%;
  }
}

/*

Light/Day/Sun Theme

*/



/*

Dark/Night/Moon Theme

*/


