/* TO DO: test responsive design on actual smart phones */

/* TO DO: clean and finish */

.profile .avatar {
  height: 280px;
  width: 280px;
}

.profile .tabs {
  margin-bottom: 10px;
}

.profile .tabs button {
  border: none;
  padding: 0 8px;
  height: 30px;
  width: 235px;
  font-size: 1.3rem;
  line-height: 26px;
  background-color: #bbb;
  color: #222;
  cursor: pointer;
}

.profile .tabs button.--active {
  background-color: #b8dbfb;
}

.profile .none {
  font-size: 1.3rem;
}

.profile .item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 16px;
  padding-right: 10px;
  padding-left: 5px;
  height: 40px;
  width: 100%;
}

.profile .item .image {
  height: 28px;
  min-height: 28px;
  width: 28px;
  min-width: 28px;
}

.profile .item .name {
  width: 100%;
}

.profile .item .name a,
.profile .item .name a:visited {
  font-size: 1.4rem;
  color: #68abe6;
}

@media (max-width: 599px) {
  .profile .tabs {
    width: 100%;
  }

  .profile .tabs button {
    width: 50%;
  }
}

/*

Light/Day/Sun Theme

*/

.light .profile .item:nth-child(even) {
  background-color: #eee;
}

.light .profile .item a:hover {
  color: #c10006;
}

/*

Dark/Night/Moon Theme

*/

.dark .profile .item:nth-child(even) {
  background-color: #2d2d2d;
}

.dark .profile .item a:hover {
  color: #690004;
}
