/* TO DO: test responsive design on actual smart phones */

.recipe-detail {
  font-size: 1.3rem;
}

.recipe-detail .image {
  margin-bottom: 10px;
}

.recipe-detail .pair {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 5px;
  height: 34px;
}

.recipe-detail .bold {
  font-size: 1.4rem;
  font-weight: 700;
}

.recipe-detail .author span a {
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: #c10006;
}

.recipe-detail .authors-note .description {
  font-size: 1.6rem;
  font-weight: 700;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.recipe-detail .author,
.recipe-detail .authors-note,
.recipe-detail .times,
.recipe-detail .cuisine,
.recipe-detail .recipe-type,
.recipe-detail .required-methods {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}

.recipe-detail .time,
.recipe-detail .cuisine-name,
.recipe-detail .recipe-type-name,
.recipe-detail .method {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
  height: 22px;
  max-width: fit-content;
  font-size: 1.4rem;
}

.recipe-detail .time {
  color: #91ff00;
  background-color: #000;
}

/* ---------- ---------- ---------- ---------- ---------- */

.recipe-detail .save-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.recipe-detail .save-area span {
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  margin-right: 10px;
  padding: 2px 3px;
}

/* ---------- ---------- ---------- ---------- ---------- */

.recipe-detail .required {
  border: 1px solid;
}

.light .recipe-detail .required {
  border-color: #bbb;
}

.light .recipe-detail .cuisine-name,
.light .recipe-detail .recipe-type-name,
.light .recipe-detail .method {
  background-color: #ddd;
}

.dark .recipe-detail .required {
  border-color: #666;
}

.dark .recipe-detail .cuisine-name,
.dark .recipe-detail .recipe-type-name,
.dark .recipe-detail .method {
  background-color: #333;
}
