/* TO DO: test responsive design on actual smart phones */

/*.recipe-form {}*/

.recipe-form label {
  display: block;
  margin: 14px 0 4px 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.recipe-form .directions {
  height: 106px;
  width: 235px;
}

.recipe-form .methods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 540px;
}

.recipe-form .method {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
  max-height: 32px;
  max-width: 90px;
  min-height: 32px;
  min-width: 90px;
  width: 90px;
}

.recipe-form .method input {
  display: block;
  height: 13px;
  margin: 9px 0 10px 0;
  max-height: 13px;
  max-width: 13px;
  min-height: 13px;
  min-width: 13px;
  order: 1;
  width: 13px;
}

.recipe-form .method label {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  height: 13px;
  margin: 9px 0 10px 4px;
  max-height: 13px;
  min-height: 13px;
  order: 2;
  width: fit-content;
}

.recipe-form .required-equipment,
.recipe-form .required-ingredients,
.recipe-form .required-subrecipes,
.recipe-form .recipe-image,
.recipe-form .equipment-image,
.recipe-form .ingredients-image,
.recipe-form .cooking-image {
  margin-top: 18px;
}

/* ??? */
.recipe-form select:required {
  box-shadow: none;
}

/* ---------- ---------- ---------- ---------- ---------- */

.recipe-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 6px;
  border: 1px solid;
  padding: 6px;
  width: fit-content;
}

.recipe-row .pair {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.recipe-row .pair label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 23px;
  font-size: 1.3rem;
  font-weight: 700;
}

.recipe-row input {
  margin: 0;
  border: 1px solid;
  border-radius: 1px;
  padding: 0;
  height: 25px;
  max-width: 70px;
  min-width: 70px;
  width: 70px;
}

.recipe-row select {
  height: 23px;
}

.recipe-row select.--subrecipe {
  max-width: 233px;
  min-width: 233px;
  width: 233px;
}

.recipe-row button.--remove {
  background-color: #ffd6d6;
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 12px;
  height: 19px;
  padding: 1px 2px;
  cursor: pointer;
}

.recipe-form button.--add-row {
  background-color: #d5fdd5;
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 12px;
  padding: 1px 2px;
  cursor: pointer;
}

/* ---------- ---------- ---------- ---------- ---------- */

.recipe-form .recipe-image,
.recipe-form .equipment-image,
.recipe-form .ingredients-image,
.recipe-form .cooking-image {
  border: 1px solid;
  padding: 6px;
  width: fit-content;
}

.recipe-form .current-image {
  height: 560px;
  width: 560px;
}

.recipe-form .image-cancel {
  display: block;
  margin: 0 30px 10px 0;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 1px 5px;
  height: 30px;
  width: 235px;
  line-height: 26px;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #ffd6d6;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .recipe-row {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
    width: fit-content;
  }

  .recipe-row button.--remove {
    margin-top: 6px;
    width: fit-content;
  }
}

@media (max-width: 899px) {
  .recipe-form .current-image {
    height: 280px;
    width: 280px;
  }
}

.light .recipe-form .recipe-row,
.light .recipe-form .recipe-image,
.light .recipe-form .equipment-image,
.light .recipe-form .ingredients-image,
.light .recipe-form .cooking-image {
  border-color: #bbb;
}

.dark .recipe-form .recipe-row,
.dark .recipe-form .recipe-image,
.dark .recipe-form .equipment-image,
.dark .recipe-form .ingredients-image,
.dark .recipe-form .cooking-image {
  border-color: #666;
}
