.recipe {font-size: 1.3rem;}

.recipe-save-outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.recipe-save {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 1.2rem;
  margin-right: 17px;
  padding: 1px 2px;
}

.recipe-saved {
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  margin-right: 10px;
  padding: 2px 3px;
}

.recipe__h2 {
  font-size: 1.7rem;
  padding-top: 18px;
}

.recipe-author {
  color: #68abe6;
  font-weight: 900;
  text-decoration: none;
}

.recipe-required-methods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe-required-method {
  margin: 0 4px 4px 0;
  max-width: fit-content;
  padding: 1px 3px;
}