.search-results .filters {
  display: flex;
  align-items: center;

  position: relative;
}

.search-results .filter-by {
  padding-right: 10px;

  font-size: 1.4rem;
  font-weight: 700;
}

.search-results .filter-name {
  display: flex;
  align-items: center;
  column-gap: 10px;

  width: max-content;
  height: 30px;

  padding: 0 8px;

  border: 1px solid;
  border-color: #fff #888 #888 #fff;
  border-radius: 1px;

  color: #444;

  background-image: linear-gradient(to bottom, #eee, #bbb);

  cursor: pointer;
}

.search-results .filter-name.active {
  border-color: #d6ffd6;
  background-color: #d6ffd6;
  background-image: none;
}

.search-results .filter-name span {
  font-size: 1.4rem;
}

.search-results .filter-name.active span {
  color: #000;
  background-color: #d6ffd6;
}



.search-results .filter-group {
  position: absolute;
  left: 0;
  top: 30px;

  padding: 8px;

  /*border: 1px solid #aaa;*/
  border: 2px solid #d6ffd6;

  background-color: #fff;
}

.search-results .filter-group span {
  margin-right: 10px;
}

.search-results .filter-group input {
  margin-right: 2px;
}

.search-results .filter-group label {
  font-size: 1.4rem;
}

.recipes {
  padding: 10px;
}

.recipes-link {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.recipes-link .title {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 900;
  color: #000;
}

.recipes-link:hover .text .title,
.recipes-link:active .text .title {
  color: #c10006;
}

.recipes-link .cuisine,
.recipes-link .type {
  display: inline-block;
  margin-right: 5px;
}

.recipes-link .tags {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.recipes-link .methods,
.recipes-link .ingredients {
  margin-top: 1px;
  max-width: fit-content;
}

.recipes-link .method,
.recipes-link .ingredient {
  font-size: 1.3rem;
  margin: 0 4px 4px 0;
  max-width: fit-content;
  padding: 1px 3px;
}
