.recipes-link .cuisine,
.recipes-link .type {
  display: inline-block;
  margin-right: 5px;
}

.recipes-link .tags {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.recipes-link .methods,
.recipes-link .ingredients {
  margin-top: 1px;
  max-width: fit-content;
}

.recipes-link .method,
.recipes-link .ingredient {
  font-size: 1.3rem;
  margin: 0 4px 4px 0;
  max-width: fit-content;
  padding: 1px 3px;
}
