/* TO DO: test responsive design on actual smart phones */

.recipe-detail {
  font-size: 1.3rem;
}

.recipe-detail .save-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.recipe-detail .save-area button.--save {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 1.2rem;
  margin-right: 17px;
  padding: 1px 2px;
}

.recipe-detail .save-area span {
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  margin-right: 10px;
  padding: 2px 3px;
}

.recipe-detail h2 {
  font-size: 1.7rem;
  padding-top: 18px;
}

.recipe-detail .author a {
  color: #68abe6;
  font-weight: 900;
  text-decoration: none;
}

.recipe-detail .methods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe-detail .method {
  margin: 0 4px 4px 0;
  max-width: fit-content;
  padding: 1px 3px;
}
