.search-results__filter-title {
  display: block;
  font-size: 1.6rem;
  font-weight: 900;
  margin: 0 12px 0 5px;
}

.sui-facet__title {
  font-family: 'Play', sans-serif;
  font-size: 1.4rem;
  font-weight: 900;
  margin-left: 5px;
  padding: 3px 0 8px 0;
  text-align: left;
}

.recipes {
  padding: 10px;
}

.recipes-link {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}

.recipes-link .title {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 900;
}

.recipes-link:hover .text .title,
.recipes-link:active .text .title {
  color: #c10006;
}

.recipes-link .cuisine,
.recipes-link .type {
  display: inline-block;
  margin-right: 5px;
}

.recipes-link .tags {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.recipes-link .methods,
.recipes-link .ingredients {
  margin-top: 1px;
  max-width: fit-content;
}

.recipes-link .method,
.recipes-link .ingredient {
  font-size: 1.3rem;
  margin: 0 4px 4px 0;
  max-width: fit-content;
  padding: 1px 3px;
}
