/*.recipe-form {}*/

.recipe-form .required-equipment,
.recipe-form .required-ingredients,
.recipe-form .required-subrecipes,
.recipe-form .recipe-image,
.recipe-form .equipment-image,
.recipe-form .ingredients-image,
.recipe-form .cooking-image {
  padding-top: 18px;
}

/*.recipe-form h1 {}*/

.recipe-form h2 {
  display: block;
  font-size: 1.7rem;
  padding-top: 18px;
}

.recipe-form h4 {
  padding-bottom: 3px;
}

/* ? */
.recipe-form select:required {
  box-shadow: none;
}

.recipe-form .ownership {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.recipe-form .ownership span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
  max-height: 32px;
  max-width: 90px;
  min-height: 32px;
  min-width: 90px;
  width: 90px;
}

.recipe-form .ownership input {
  display: block;
  height: 13px;
  margin: 9px 0 10px 0;
  max-height: 13px;
  min-height: 13px;
  max-width: 13px;
  min-width: 13px;
  order: 1;
  width: 13px;
}

.recipe-form .ownership label {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  height: 13px;
  margin: 9px 0 19px 4px;
  max-height: 13px;
  min-height: 13px;
  order: 2;
  width: fit-content;
}

.recipe-form .methods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 540px;
}

.recipe-form .method {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
  max-height: 32px;
  max-width: 90px;
  min-height: 32px;
  min-width: 90px;
  width: 90px;
}

.recipe-form .method input {
  display: block;
  height: 13px;
  margin: 9px 0 10px 0;
  max-height: 13px;
  max-width: 13px;
  min-height: 13px;
  min-width: 13px;
  order: 1;
  width: 13px;
}

.recipe-form .method label {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  height: 13px;
  margin: 9px 0 10px 4px;
  max-height: 13px;
  min-height: 13px;
  order: 2;
  width: fit-content;
}

.recipe-form .title,
.recipe-form .description {
  border: 1px solid;
  border-radius: 1px;
  display: block;
  height: 31px;
  margin: 0 auto 0 auto;
  padding: 3px 7px 3px 7px;
  width: 100%;
}

.recipe-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-bottom: 6px;
}

.recipe-row label {
  font-size: 1.3rem;
  font-weight: 700;
  height: 23px;
  margin: 0 4px 0 18px;
  padding-top: 3px;
}

.recipe-row select {
  height: 23px;
}

.recipe-row input {
  border: 1px solid;
  border-radius: 1px;
  height: 25px;
  max-width: 70px;
  min-width: 70px;
  width: 70px;
}

.recipe-row select {
  height: 23px;
}

.recipe-row select.--subrecipe {
  max-width: 233px;
  min-width: 233px;
  width: 233px;
}

.recipe-row button.--remove {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 12px;
  height: 19px;
  margin-left: 18px;
  padding: 1px 2px;
}

.recipe-form button.--add-row {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 12px;
  padding: 1px 2px;
}

.recipe-form .directions {
  height: 102px;
  width: 100%;
}

.recipe-form .finish {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
}

@media (max-width: 1000px) {
  .recipe-row {
    flex-direction: column;
    width: fit-content;
  }

  .recipe-row button.--remove {
    margin-top: 6px;
    width: fit-content;
  }

  .recipe-form button.--add-row {
    margin-top: 12px;
  }
}

@media (max-width: 899px) {
  .recipe-form .finish {
    flex-direction: column;
  }
}
