.search-results .settings {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.search-results .info {
  display: flex;
  align-items: center;
}

.search-results .filters {
  display: flex;
  align-items: center;
}

.search-results .filter-by {
  padding-right: 10px;
  font-size: 1.4rem;
  font-weight: 700;
}

.search-results .filter-name {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: max-content;
  height: 30px;
  padding: 0 8px;
  border: 1px solid;
  border-color: #fff #888 #888 #fff;
  border-radius: 1px;
  color: #444;
  background-image: linear-gradient(to bottom, #eee, #bbb);
  cursor: pointer;
}

.search-results .filter-name.active {
  border-color: #bfddfa;
  background-color: #bfddfa;
  background-image: none;
}

.search-results .filter-name span {
  font-size: 1.4rem;
}

.search-results .filter-name.active span {
  color: #000;
  background-color: #bfddfa;
}

.search-results .filter-group {
  display: none;
  position: absolute;
  top: 30px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  border: 2px solid #bfddfa;
  padding: 8px;
  max-height: 367px;
  max-width: 1180px;
  min-width: 300px;
  overflow-y: scroll;
  background-color: #fff;
  white-space: wrap;
  z-index: 1;
}

.search-results .filter-group.active {
  display: grid;
  gap: 3px;
}

.search-results .filter-group span {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 20px;
  width: fit-content;
  white-space: normal;
}

.search-results .filter-group input {
  margin-right: 2px;
  margin-bottom: 0;
  height: initial;
  width: initial;
}

.search-results .filter-group label {
  font-size: 1.4rem;
}

.search-results-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  row-gap: 18px;
  width: inherit;
}

.search-results-list-item {
  display: block;
  /*height: px;*/
  width: 280px;
  text-decoration: none;
  color: #000;
}

.search-results-list-item:hover,
.search-results-list-item:active {
  outline: 2px solid #ddd;
  background-color: #ddd;
}

.search-results-list-item:hover h3,
.search-results-list-item:active h3 {
  color: #c10006;
}

.search-results-list-item img {
  display: block;
  width: 280px;
  height: 280px;
}

.search-results-list .no-results {
  align-self: center;
  width: inherit;
  font-size: 1.4rem;
  text-align: center;
}
