.search-results .settings {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.search-results .info {
  display: flex;
  align-items: center;
}

.search-results .filters {
  display: flex;
  align-items: center;

  position: relative;
}

.search-results .filter-by {
  padding-right: 10px;

  font-size: 1.4rem;
  font-weight: 700;
}

.search-results .filter-name {
  display: flex;
  align-items: center;
  column-gap: 10px;

  width: max-content;
  height: 30px;

  padding: 0 8px;

  border: 1px solid;
  border-color: #fff #888 #888 #fff;
  border-radius: 1px;

  color: #444;

  background-image: linear-gradient(to bottom, #eee, #bbb);

  cursor: pointer;
}

.search-results .filter-name.active {
  border-color: #d6ffd6;
  background-color: #d6ffd6;
  background-image: none;
}

.search-results .filter-name span {
  font-size: 1.4rem;
}

.search-results .filter-name.active span {
  color: #000;
  background-color: #d6ffd6;
}

.search-results .filter-group {
  position: absolute;
  left: 0;
  top: 30px;

  max-width: 1180px;
  width: max-content;
  min-width: 300px;

  padding: 8px;

  /*border: 1px solid #aaa;*/
  border: 2px solid #d6ffd6;

  background-color: #fff;

  white-space: wrap;

  z-index: 1;
}

.search-results .filter-group span {
  display: inline-block;
  width: fit-content;
  margin-right: 20px;
  white-space: normal;
}

.search-results .filter-group input {
  margin-right: 2px;
}

.search-results .filter-group label {
  font-size: 1.4rem;
}

.search-results-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: inherit;
  outline: 1px solid red;
}

.search-results-list-item {
  display: block;
  width: 280px;
  text-decoration: none;
  color: #000;
}

.search-results-list-item:hover,
.search-results-list-item:active {
  outline: 2px solid #ddd;
  background-color: #ddd;
}

.search-results-list-item:hover h3,
.search-results-list-item:active h3 {
  color: #c10006;
}

.search-results-list-item img {
  display: block;
  width: 280px;
  height: 280px;
}

.search-results-list .no-results {
  align-self: center;
  width: inherit;
  font-size: 1.4rem;
  text-align: center;
}
