.two-col-a {
  background-color: #fff;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 300px;
  /*overflow: auto;*/
  padding: 10px 0 10px 0;
}

.two-col-a.light {
  background-color: #fff;
  color: #000;
}

.two-col-a.dark {
  background-color: #222;
  color: #aaa;
}



/* DASHBOARD, FRIENDS, etc. */

.light .dashboard-content-item {border-color: #ddd;}

.light .dashboard-content-item:nth-child(even) {background-color: #eee;}

/* a NEEDS A CLASS */
.light .dashboard-content-item-action a:hover,
.light .dashboard-content-item-name a:hover,

.light .supplements td a:hover {color: #c10006;}



/* DASHBOARD, FRIENDS, etc. */

.dark .dashboard-content-item {border-color: #3a3a3a;}

.dark .dashboard-content-item:nth-child(even) {background-color: #2d2d2d;}

/* a NEEDS A CLASS */
.dark .dashboard-content-item-action a:hover,
.dark .dashboard-content-item-name a:hover,

.dark .supplements td a:hover {color: #690004;}