.two-col-b {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
  min-width: 300px;
  padding: 10px 0;
}

.two-col-b__left {
  border-right: 1px solid;
  max-width: 600px;
  margin: 10px 0;
  max-width: 600px;
  min-width: 300px;
  padding: 10px;
  order: 1;
  width: 100%;
}

.two-col-b__right {
  margin: 10px 0;
  max-width: 300px;
  min-width: 300px;
  padding: 10px;
  order: 2;
}

/*

light

*/

.light .two-col-b__left,
.light .two-col-b__right {
  background-color: #fff;
  color: #000;
}

.light .two-col-b__left {border-right-color: #bfbfbf;}



/* EQUIPMENTS, INGREDIENTS, RECIPES (search results) */

.two-column-b-light .page_links {border-color: #fff;}

.two-column-b-light .current_page_number {color: #000;}

/* ? */

.two-column-b-light .equipments-list-item a,
.two-column-b-light .ingredients-list-item a,
.two-column-b-light .recipes-list-item a {
  background-color: #fff;
  color: #000;
}

/* EXPANDCOLLAPSE */

.two-column-b-light .expand-collapse {background-color: #d5fdd5;}

.two-column-b-light .expand-collapse-heading {color: #777;}

/* EQUIPMENTS, INGREDIENTS, RECIPES (search results) */

.two-column-b-light .search-result-recipe-link:hover,
.two-column-b-light .search-result-recipe-link:active,
.two-column-b-light .search-result-ingredient-link:hover,
.two-column-b-light .search-result-ingredient-link:active,
.two-column-b-light .search-result-equipment-link:hover,
.two-column-b-light .search-result-equipment-link:active {
  background-color: #eee;
}

.two-column-b-light .search-result-recipe-text__title,
.two-column-b-light .search-result-recipe-text__author,
.two-column-b-light .search-result-recipe-text__types-cuisine,
.two-column-b-light .search-result-recipe-text__types-recipe-type,
.two-column-b-light .search-result-recipe-text__tags-methods,
.two-column-b-light .search-result-recipe-text__tags-ingredients,
.two-column-b-light .search-result-ingredient-text__name,
.two-column-b-light .search-result-ingredient-text__type,
.two-column-b-light .search-result-equipment-text__name,
.two-column-b-light .search-result-equipment-text__type {color: #000;}

.two-column-b-light .search-result-recipe-text__tags-method {
  background-color: #cfcfcf;
}

.two-column-b-light .search-result-recipe-text__tags-ingredient {
  background-color: #dedede;
}

/*

dark

*/

.dark .two-col-b__left,
.dark .two-col-b__right {
  background-color: #222;
  color: #aaa;
}

.dark .two-col-b__left {border-right-color: #444;}



/* EQUIPMENTS, INGREDIENTS, RECIPES (search results) */

.two-column-b-dark .page_links {border-color: #222;}

.two-column-b-dark .current_page_number {color: #aaa;}

/* ? */

.two-column-b-dark .equipments-list-item a,
.two-column-b-dark .ingredients-list-item a,
.two-column-b-dark .equipments-list-item a {
  background-color: #222;
  color: #aaa;
}

/* EXPANDCOLLAPSE */

.two-column-b-dark .expand-collapse {
  background-color: #507ea7;
  color: #000;
}

.two-column-b-dark .expand-collapse-heading {color: #ccc;}

/* EQUIPMENTS, INGREDIENTS, RECIPES (search results) */

.two-column-b-dark .search-result-recipe-link:hover,
.two-column-b-dark .search-result-recipe-link:active,
.two-column-b-dark .search-result-ingredient-link:hover,
.two-column-b-dark .search-result-ingredient-link:active,
.two-column-b-dark .search-result-equipment-link:hover,
.two-column-b-dark .search-result-equipment-link:active {
  background-color: #333;
}

.two-column-b-dark .search-result-recipe-text__title,
.two-column-b-dark .search-result-recipe-text__author,
.two-column-b-dark .search-result-recipe-text__types-cuisine,
.two-column-b-dark .search-result-recipe-text__types-recipe-type,
.two-column-b-dark .search-result-recipe-text__tags-methods,
.two-column-b-dark .search-result-recipe-text__tags-ingredients,
.two-column-b-dark .search-result-ingredient-text__name,
.two-column-b-dark .search-result-ingredient-text__type,
.two-column-b-dark .search-result-equipment-text__name,
.two-column-b-dark .search-result-equipment-text__type {color: #aaa;}

.two-column-b-dark .search-result-recipe-text__tags-method {
  background-color: #555;
}

.two-column-b-dark .search-result-recipe-text__tags-ingredient {
  background-color: #444;
}





/* NOT USED (Recipes? Recipe?) */

.two-column-b-light .recipe-details__required-method {
  background-color: #cfcfcf;
}

.two-column-b-light .recipe-details__author-name:hover {color: #c10006;}

.two-column-b-dark .recipe-details__required-method {background-color: #555;}

.two-column-b-dark .recipe-details__author-name:hover {color: #690004;}