.shadow {
  display: block;
  position: absolute;
  bottom: 1;
  left: -42px;
  top: 56px;
  width: 3000px;
  min-width: 3000px;
  height: 100vh;
  min-height: 100vh;
  background: rgba(0, 0, 0, .5);
  z-index: 2;
}

.app-nav {
  position: absolute;
  left: 0;
  top: 56px;
  margin: 0;
  width: 450px;
  min-width: 450px;
  height: 100vh;
  min-height: 100vh;
  z-index: 3;
}

.app-nav .menu {
  width: 100%;
}

.app-nav .menu-item,
.app-nav .app-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 32px;
  padding-right: 18px;
}

.app-nav .menu-item span,
.app-nav .submenu-item a,
.app-nav .app-nav-item a {
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 1.4rem;
  text-decoration: none;
}

.app-nav .menu-item span,
.app-nav .app-nav-item a {
  text-indent: 18px;
}

.app-nav .submenu-item a {
  text-indent: 36px;
}

.app-nav .app-nav-item a {
  width: 100%;
}

.app-nav hr {
  height: 1px;
  border: 0 none;
}

@media (max-width: 899px) {
  .shadow {
    display: none;
  }

  .app-nav {
    top: 48px;
    margin: 0;
    width: 100vw;
    min-width: 100vw;
  }
}

/*

Light/Day/Sun Theme

*/

.light .app-nav,
.light .app-nav .submenu-item {
  background-color: #fff;
}

.light .app-nav .menu-item {
  background-color: #ccc;
}

.light .app-nav .menu-item span,
.light .app-nav .submenu-item a,
.light .app-nav .app-nav-item a {
  color: #000;
}

.light .app-nav hr {
  background-color: #bfbfbf;
}

/*

Dark/Night/Moon Theme

*/

.dark .app-nav,
.dark .app-nav .submenu-item {
  background-color: #222;
}

.dark .app-nav .menu-item {
  background-color: #ccc;
}

.dark .app-nav .menu-item span {
  color: #000;
}

.dark .app-nav .submenu-item a,
.dark .app-nav .app-nav-item a {
  color: #aaa;
}

.dark .app-nav hr {
  background-color: #444;
}
