#app {
  display: block;
  height: 100vh;
  min-height: 100vh;
}

.left-nav-shadow {
  background: rgba(0, 0, 0, .5);
  bottom: 1;
  display: block;
  height: 3000px;
  left: -42px;
  position: absolute;
  top: 0;
  width: 3000px;
  z-index: 5;
}

.left-nav-shadow--hide {display: none;}

.left-nav-shadow--show {display: block;}