.crumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.crumbs span {
  display: flex;
}

.crumbs a {
  font-size: 1.4rem;
}

.crumbs a,
.crumbs a:visited {
  color: #68abe6;
}

.crumbs .pointer {
  padding: 0 12px;
  user-select: none;
}



.light .crumbs a:hover {
  color: #c10006;
}

.light .crumbs .pointer {
  color: #000;
}



.dark .crumbs a:hover {
  color: #690004;
}

.dark .crumbs .pointer {
  color: #aaa;
}
