.crop-tool-tip {
  display: block;
  padding: 10px 0;
}

.ReactCrop__child-wrapper {
  height: 560px;
  width: 560px;
}

.crop-source {
  height: 560px;
  width: 560px;
  object-fit: none;
}

.crops {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 10px;
}

.crop-large-outer,
.crop-medium-outer,
.crop-small-outer,
.crop-thumb-outer,
.crop-tiny-outer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  row-gap: 4px;
}

.crop-large-outer span,
.crop-medium-outer span,
.crop-small-outer span,
.crop-thumb-outer span,
.crop-tiny-outer span {
  font-size: 1.3rem;
  font-weight: 700;
}

.crop-medium {
  height: 560px;
  width: 560px;
}

.crop-small {
  height: 280px;
  width: 280px;
}

.crop-thumb {
  height: 100px;
  width: 100px;
}

.crop-tiny {
  height: 28px;
  width: 28px;
}

@media (max-width: 899px) {
  .ReactCrop__child-wrapper {
    max-height: 280px;
    max-width: 280px;
  }

  .crop-source {
    max-height: 280px;
    max-width: 280px;
  }

  .crop-medium {
    max-height: 280px;
    max-width: 280px;
  }
}
