.expand-collapse {
  margin: 8px 0;
  max-width: fit-content;
  padding: 5px;
}

.expand-collapse__heading {
  cursor: pointer;
  font-size: 1.1rem;
}



.two-col-a.light .expand-collapse {background-color: #d5fdd5;}

.two-col-a.light .expand-collapse__heading {color: #777;}



.two-col-a.dark .expand-collapse {
  background-color: #507ea7;
  color: #000;
}

.two-col-a.dark .expand-collapse__heading {color: #ccc;}