/*.expand-collapse {}*/

.expand-collapse div {
  cursor: pointer;
  font-size: 1.1rem;
}

/*

Light/Day/Sun Theme

*/

.light .expand-collapse {
  background-color: #d5fdd5;
}

.light .expand-collapse div {
  color: #777;
}

/*

Dark/Night/Moon Theme

*/

.dark .expand-collapse {
  background-color: #507ea7;
  color: #000;
}

.dark .expand-collapse div {
  color: #ccc;
}
