.footer {
  grid-column: 1 / 1;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  height: 90px;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.footer-links a {
  font-size: 1.4rem;
  user-select: none;
}

.footer-links a:link,
.footer-links a:visited {
  color: #68abe6;
  text-decoration: none;
}

.footer-links a:hover,
.footer-links a:active {
  text-decoration: underline;
}

.footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  user-select: none;
}

@media (max-width: 899px) {
  .footer {
    row-gap: 20px;
    height: 237px;
  }

  .footer-links {
    flex-direction: column;
    row-gap: 20px;
  }
}

/*

Light Theme

*/

.light .footer {
  background-color: #eee;
  color: #666;
}

.light .footer-links a:hover,
.light .footer-links a:active {
  color: #c10006;
}

/*

Dark Theme

*/

.dark .footer {
  background-color: #111;
  color: #999;
}

.dark .footer-links a:hover,
.dark .footer-links a:active {
  color: #690004;
}
