.header {
  grid-column: 1 / 1;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  padding-bottom: 12px;
  padding-top: 12px;
}

.site-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 16px;

  min-width: max-content;

  margin-right: 16px;
  margin-left: 16px;
}

.left-nav-toggle {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.logo {
  width: 68px;
  height: 20px;
}

.user-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  column-gap: 16px;

  min-width: max-content;

  padding-right: 16px;
  padding-left: 16px;
}

.user-nav .mode {
  min-width: 45px;
  line-height: 16px;
}

.moon {
  color: #183a39;
}

.sun {
  color: #fffdb1;
}

.user-nav .mode,
.user-nav a,
.user-nav .logout {
  display: block;
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
}

.user-nav a:hover,
.user-nav a:active,
.user-nav .logout:hover,
.user-nav .logout:active {
  text-decoration: underline;
}

/*

Light/Day/Sun Theme

*/

.light .header {
  background-color: #c10006;
}

/*

Dark/Night/Moon Theme

*/

.dark .header {
  background-color: #690004;
}

.search {
  display: flex;
  position: relative;
  flex-direction: row;

  width: 100%;
  max-width: 640px;
  height: 32px;

  border: 1px solid;
  border-color: #777 #aaa #aaa #777;
  border-radius: 1px;
}

.search .category {
  position: relative;
}

.search .facade {
  float: left;
  height: 30px;

  border: 1px solid;
  border-color: #fff #888 #888 #fff;
  border-radius: 1px;

  background-image: linear-gradient(to bottom, #eee, #bbb);
}

.search .facade span {
  margin: 0 21px 0 8px;

  background: none;
  color: #555;

  font-size: 1.4rem;
  line-height: 28px;
}

.search .facade img {
  position: absolute;
  right: 7px;
  top: 12px;
}

.search select {
  border: 0;
  cursor: pointer;
  height: 30px;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.search option {
  font-size: 1.4rem;
}

.search .insert {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 30px;
  position: relative;
  width: 100%;
}

#search-input {
  border: none;
  outline: none;
  margin: 0;
  padding: 3px 10px 3px 0;
  font-size: 1.4rem;
  text-indent: 5px;
  width: 100%;
}

.magnifying-glass {
  cursor: pointer;
  width: 32px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #eee;
  border-right-color: #777;
  border-bottom-color: #777;
  border-left-color: #eee;
  background-image: linear-gradient(to bottom, #bfddfa, #87c6fd);
  line-height: 26px;
}

.magnifying-glass:hover,
.magnifying-glass:active {
  background-image: linear-gradient(to bottom, #9ed2ff, #5cb3ff);
}

.magnifying-glass span {
  position: relative;
  top: 7px;
  display: block;
  height: 12px;
  width: 12px;
  border: 2px solid #555;
  border-radius: 30px;
  background-color: none;
  margin-bottom: 1px;
  cursor: pointer;
}

.magnifying-glass span:after {
  position: absolute;
  top: 9px;
  left: 6px;
  height: 2px;
  width: 7px;
  background-color: #555;
  content: "";
  transform: rotate(45deg);
  cursor: pointer;
}

.autosuggestions {
  display: block;
  position: absolute;
  left: -1px;
  top: 30px;
  width: calc(100% - 29px);
  border: 1px solid #aaa;
  border-top: none;
}

.autosuggestions ul {
  width: 100%;
  list-style-type: none;
  overflow: hidden;
}

.autosuggestions li {
  width: 100%;
  height: 30px;

  padding: 3px 10px 3px 0;

  overflow: hidden;

  font-size: 1.4rem;
  text-indent: 5px;
  line-height: 26px;

  color: #666;

  cursor: pointer;
}

/*

Light/Day/Sun Theme

*/

.light #search-input {
  background-color: #fff;
  color: #111;
}

.light .autosuggestions li {
  background-color: #fff;
  color: #666;
}

.light .autosuggestions li:hover,
.light .autosuggestions li:active {
  background-color: #d5fdd5;
}

.light .autosuggestions li[aria-selected=true],
.light .autosuggestions li[aria-selected=true] > * {
  background-color: #ddd;
}

/*

Dark/Night/Moon Theme

*/

.dark #search-input {
  background-color: #333;
  color: #bbb;
}

.dark .autosuggestions li {
  background-color: #333;
  color: #aaa;
}

.dark .autosuggestions li:hover,
.dark .autosuggestions li:active {
  background-color: #507ea7;
}

.dark .autosuggestions li[aria-selected=true],
.dark .autosuggestions li[aria-selected=true] > * {
  background-color: #444;
}



@media (max-width: 899px) {
  .header {
    flex-direction: column;
    row-gap: 12px;
  }

  .search {
    align-self: center;

    max-width: calc(100% - 32px);
  }
}

@media (max-width: 359px) {
  .user-nav {
    flex-direction: column;
    row-gap: 20px;
  }
}
