.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-column: 1 / 1;
  grid-row: 1 / 2;
  height: 56px;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
}

.header-l {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: inherit;
  justify-content: flex-start;
  min-width: 240px;
  padding-left: 16px;
  order: 1;
  width: 240px;
}



.header.light,
.light .header-l {background-color: #c10006;}



.header.dark,
.dark .header-l {background-color: #690004;}



@media (max-width: 899px) {
  .header {flex-direction: column;}
}