#layout {
  display: grid;
  grid-template-rows: min-content auto 92px;
  height: 100vh;
  min-height: 100vh;
}

@media (max-width: 899px) {
  #layout {
    grid-template-rows: min-content auto 237px;
  }
}
