.left-nav {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  left: 0;
  margin: 0;
  max-width: 240px;
  min-width: 240px;
  position: absolute;
  top: 0;
  width: 240px;
  z-index: 6;
}

.left-nav-heading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 56px;
  padding-left: 16px;
  order: 1;
  width: inherit;
}

.left-nav-anchor {
  display: block;
  min-height: 120px;
  height: 120px;
  order: 2;
  position: relative;
  z-index: 6;
}

.left-nav-main {
  order: 3;
  padding: 0 10px;
}

.left-nav-main a {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  height: 40px;
  padding-left: 16px;
  text-decoration: none;
}

.left-nav-main a:hover {
  cursor: pointer;
  cursor: hand;
}

.left-nav hr {
  border: 0 none;
  height: 1px;
  margin: 5px 0;
}



.light .left-nav,
.light .left-nav-main {background-color: #fff;}

.light .left-nav-heading,
.light .logo {background-color: #c10006;}

.light .left-nav-toggle-line {background-color: #000;}

.light .left-nav-main a {
  background-color: inherit;
  color: #000;
}

.light .left-nav-main a:hover {background-color: #ddd;}

.light .left-nav hr {background-color: #bfbfbf;}



.dark .left-nav,
.dark .left-nav-main {background-color: #222;}

.dark .left-nav-heading,
.dark .logo {background-color: #690004;}

.dark .left-nav-toggle-line {background-color: #aaa;}

.dark .left-nav-main a {
  background-color: inherit;
  color: #aaa;
}

.dark .left-nav-main a:hover {background-color: #444;}

.dark .left-nav hr {background-color: #444;}