.shadow {
  display: block;
  position: absolute;
  bottom: 1;
  left: -42px;
  top: 56px;
  width: 3000px;
  min-width: 3000px;
  height: 100vh;
  min-height: 100vh;
  background: rgba(0, 0, 0, .5);
}

.left-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  left: 0;
  top: 56px;
  margin: 0;
  width: 240px;
  max-width: 240px;
  min-width: 240px;
  height: 100vh;
  min-height: 100vh;
}

.left-nav hr,
.left-nav-mobile hr {
  height: 1px;
  border: 0 none;
}

.menu {
  margin: 0;
  width: 240px;
  max-width: 240px;
  min-width: 240px;
  overflow-x: visible;
  cursor: pointer;
}

.menu-items,
.menu-item {
}

.submenu-items {
  position: absolute;
  left: 240px;
  top: 0;
  width: 300px;
  height: fit-content;
  min-height: fit-content;
  border-left: 2px solid;
  background-color: #fff;
  color: #fff;
}

.menu-item a,
.submenu-item a {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 1.4rem;
  text-decoration: none;
  text-indent: 18px;
  color: #000;
}



.left-nav-mobile {
  display: none;
  position: absolute;
  left: 0;
  top: 48px;
  margin: 0;
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.left-nav-mobile .menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 32px;
  padding-right: 7px;
  background-color: #ccc;
}

/*

Light/Day/Sun Theme

*/

.light .left-nav,
.light .left-nav-mobile,
.light .left-nav-mobile .expand-collapse {
  background-color: #fff;
}

.light .left-nav a {
  background-color: inherit;
  color: #000;
}

.light .left-nav a:hover {
  background-color: #ddd;
}

.light .left-nav hr {
  background-color: #bfbfbf;
}

.light .left-nav .menu {
  background-color: #fff;
}

.light .left-nav .submenu-items {
  border-left-color: #d5fdd5;
}

.light .menu-item.active a,
.light .submenu-item a:hover,
.light .submenu-item a:active {
  background-color: #d5fdd5;
}

/*

Dark/Night/Moon Theme

*/

.dark .left-nav,
.dark .left-nav-mobile {
  background-color: #222;
}

.dark .left-nav a
.dark .left-nav-mobile a {
  background-color: inherit;
  color: #aaa;
}

.dark .menu-item a {
  color: #aaa;
}

.dark .menu-item.active a,
.dark .submenu-item a:hover,
.dark .submenu-item a:active {
  color: #ccc;
  background-color: #507ea7;  /*#690004;*/
}

.dark .left-nav hr {
  background-color: #444;
}



@media (max-width: 899px) {
  .shadow,
  .left-nav {
    display: none;
  }

  .left-nav-mobile {
    display: block;
  }
}
