.shadow {
  display: block;
  position: absolute;
  bottom: 1;
  left: -42px;
  top: 56px;
  width: 3000px;
  min-width: 3000px;
  height: 100vh;
  min-height: 100vh;
  background: rgba(0, 0, 0, .5);
}

.left-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  left: 0;
  top: 56px;
  width: 240px;
  height: 100vh;
  min-height: 100vh;
}

.left-nav .menu {
  overflow-x: visible;  /* ? */
  cursor: pointer;
}

.left-nav .submenu {
  position: absolute;
  left: 240px;
  top: 0;
  width: 300px;
  height: fit-content;
  min-height: fit-content;
  border-left: 2px solid;
}

.left-nav .menu-item a,
.left-nav .submenu-item a,
.left-nav .left-nav-item a,
.left-nav--mobile .menu-item a,
.left-nav--mobile .submenu-item a,
.left-nav--mobile .left-nav-item a {
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 1.4rem;
  text-decoration: none;
  text-indent: 18px;
}

.left-nav--mobile {
  display: none;
  position: absolute;
  left: 0;
  top: 48px;
  margin: 0;
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.left-nav--mobile .menu {
  width: 100%;
}

.left-nav--mobile .menu-item,
.left-nav--mobile .left-nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 32px;
  padding-right: 18px;
}

.left-nav--mobile .left-nav-item a {
  width: 100%;
}

.left-nav hr,
.left-nav--mobile hr {
  height: 1px;
  border: 0 none;
}

/*

Light/Day/Sun Theme

*/

.light .left-nav {
  background-color: #fff;
}
.light .left-nav .menu-item a,
.light .left-nav .left-nav-item a {
  color: #000;
}
.light .left-nav .menu-item.active a,
.light .left-nav .left-nav-item:hover,
.light .left-nav .left-nav-item:active {
  background-color: #d5fdd5;
}
.light .left-nav .submenu {
  border-left-color: #d5fdd5;
  background-color: #fff;
}
.light .left-nav .submenu-item a {
  color: #000;
}
.light .left-nav .submenu-item a:hover,
.light .left-nav .submenu-item a:active {
  background-color: #d5fdd5;
}
.light .left-nav hr {
  background-color: #bfbfbf;
}

.light .left-nav--mobile {
  background-color: #fff;
}
.light .left-nav--mobile .menu-item {
  background-color: #ccc;
}
.light .left-nav--mobile .menu-item a,
.light .left-nav--mobile .left-nav-item a {
  color: #000;
}
.light .left-nav--mobile .submenu-item {
  background-color: #fff;
}
.light .left-nav--mobile .submenu-item a {
  color: #000;
}
.light .left-nav--mobile .submenu-item a:hover,
.light .left-nav--mobile .submenu-item a:active,
.light .left-nav--mobile .left-nav-item a:hover,
.light .left-nav--mobile .left-nav-item a:active {
  background-color: #d5fdd5;
}
.light .left-nav--mobile hr {
  background-color: #bfbfbf;
}

/*

Dark/Night/Moon Theme

*/

.dark .left-nav {
  background-color: #222;
}
.dark .left-nav .menu-item a,
.dark .left-nav .left-nav-item a {
  color: #aaa;
}
.dark .left-nav .menu-item.active a,
.dark .left-nav .left-nav-item a:hover,
.dark .left-nav .left-nav-item a:active {
  color: #ccc;
  background-color: #507ea7;
}
.dark .left-nav .submenu {
  border-left-color: #507ea7;
  background-color: #222;
}
.dark .left-nav .submenu-item a {
  color: #aaa;
}
.dark .left-nav .submenu-item a:hover,
.dark .left-nav .submenu-item a:active {
  color: #ccc;
  background-color: #507ea7;
}
.dark .left-nav hr {
  background-color: #444;
}

.dark .left-nav--mobile {
  background-color: #222;
}
.dark .left-nav--mobile .menu-item {
  background-color: #ccc;
}
.dark .left-nav--mobile .menu-item a {
  color: #000;
}
.dark .left-nav--mobile .left-nav-item a {
  color: #aaa;
}
.dark .left-nav--mobile .submenu-item {
  background-color: #222;
}
.dark .left-nav--mobile .submenu-item a {
  color: #aaa;
}
.dark .left-nav--mobile .submenu-item a:hover,
.dark .left-nav--mobile .submenu-item a:active,
.dark .left-nav--mobile .left-nav-item a:hover,
.dark .left-nav--mobile .left-nav-item a:active {
  color: #ccc;
  background-color: #507ea7;
}
.dark .left-nav--mobile hr {
  background-color: #444;
}



@media (max-width: 899px) {
  .shadow,
  .left-nav {
    display: none;
  }

  .left-nav--mobile {
    display: block;
  }
}
