.main {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  /*max-width: calc(100vw - (100vw - 100%));
  min-width: 300px;*/
  padding-bottom: 25px;
}

.light .main {
  background-color: #eee;
}

.dark .main {
  background-color: #111;
}

/* ? */
@media (max-width: 899px) {
  .main {
    max-width: 100vw;
  }
}
