.menu {
  cursor: pointer;
  display: block;
  margin: 0;
  max-width: 240px;
  min-width: 240px;
  overflow-x: visible;
  padding: 10px 10px 0 10px;
  position: absolute;
  top: 0px;
  width: 240px;
  z-index: 6;
}

.menu__items,
.menu__item,
.menu__item-link {
  display: block;
  color: #000;
  text-decoration: none;
}

.menu__item-link {
  font-size: 1.4rem;
  height: 40px;
}

/*.menu__image {
  bottom: 0px;
  position: absolute;
  right: 0px;
}*/

.menu.drop-down-menu-light {background-color: #fff;}

.menu__item.active .menu__item-link.drop-down-menu-light {color: #c10006;}

.menu.drop-down-menu-dark {background-color: #999;}

.menu__item.active .menu__item-link.drop-down-menu-dark {color: #690004;}