.menu {
  cursor: pointer;
  display: block;
  margin: 0;
  max-width: 240px;
  min-width: 240px;
  overflow-x: visible;
  padding: 0 10px;
  position: absolute;
  top: 0px;
  width: 240px;
  z-index: 7;
}

.menu-items,
.menu-item {
  display: block;
}

.submenu-items {
  display: block;
  position: absolute;
  left: 240px;
  top: 0;
  width: 300px;
  height: fit-content;
  border-left: 1px solid #000;
  background-color: #fff;
  color: #fff;
  min-height: fit-content;
  z-index: 7;
}

.menu-item a,
.submenu-item a {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
  height: 40px;
  padding-left: 16px;
}

.menu-items,
.menu-item,
.menu-item a,
.submenu-items,
.submenu-item,
.submenu-item a {
  color: #000;
  text-decoration: none;
}

.light .menu,
.light .submenu {
  background-color: #fff;
}

.light .menu-item.active .menu-item a,
.light .submenu-item.active .submenu-item a {
  color: #c10006;
}

.dark .menu,
.dark .submenu {
  background-color: #999;
}

.dark .menu-item.active .menu-item a,
.dark .submenu-item.active .submenu-item a {
  color: #690004;
}
