.chat-messages {
  border: 1px solid;
  height: 450px;
  order: 1;
  padding: 10px;
  position: relative;  /* ? */
  width: 750px;
}

.chat-message-list {
  display: block;
  height: calc(100% - 40px);
  list-style-type: none;
  overflow-y: scroll;
}

/*.chat-message {}*/

.message--admin {
  color: #c10006;
  font-style: italic;
}

.message--self {color: #009fff;}

.message--other {color: #326fff;}

.message--private {color: #a100ff;}

.chat__input {
  border: 2px solid #68abe6;
  bottom: 0;
  height: 30px;
  left: 0;
  padding-left: 7px;
  position: absolute;
  width: 100%;
}

.chat__input:focus {
  border: 2px solid #87c6fd;
  outline: none;
}



.light .chat-message-list {border-color: #ddd;}

.light .message-ts {color: #bbb;}



/*.dark .chat-messages,
.dark .chat__input,*/
.dark .chat-message-list {border-color: #444;}

.dark .message-ts {color: #666;}

.dark .chat-messages,
.dark .chat-message-list,
.dark .chat-message,
.dark .chat__input {
  background-color: #1e1e1e;
  color: #bbb;
}



/* TO DO: just fill remaining space after 180px of People */
@media (max-width: 1279px) {
  .chat-messages {width: 450px;}
}