.chat__options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 40px;
  width: 100%;
}

.connection__button {order: 1;}

.current-room {order: 2;}

.change-room {order: 3;}

.change-room__button,
.connection__button {
  border: 1px solid;
  background-image: linear-gradient(to bottom, #eee, #bbb);
  border-color: #ddd #666 #666 #ddd;
  border-radius: 1px;
  color: #222;
  cursor: pointer;
  display: block;
  font-size: 1.3rem;
  height: 32px;
  line-height: 26px;
  padding: 0 8px;
  text-align: center;
  width: 85px;
}

.current-room,
.change-room {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
}

.current-room {
  border: 2px solid;
  font-size: 1.3rem;
  line-height: 30px;
  max-width: 85px;
  overflow: hidden;
  padding: 0 10px;
  width: 85px;
}

.change-room__label,
.current-room__label {
  font-size: 1.3rem;
  height: 32px;
  line-height: 30px;
  padding: 0 10px 0 200px;
}

.change-room__input {
  border: 2px solid #68abe6;
  height: 32px;
  padding-left: 7px;
  width: 85px;
}

.change-room__input:focus {
  outline: none;
  border: 2px solid #87c6fd;
}



/* JUST MAKE RESPONSIVE... FLEXBOX... GRID... */

@media (max-width: 1279px) {
  .current-room__label {padding-left: 50px;}

  .change-room__label {padding-left: 41px;}
}

@media (max-width: 799px) {
  .chat__options {
    flex-direction: column;
    height: 118px;
  }

  .current-room__label {padding-left: 0px;}

  .change-room {margin-bottom: 4px;}

  .change-room__label {
    padding-right: 20px;
    padding-left: 0px;
  }
}