.promo {
  display: block;
  width: 240px;
}

.promo .large {
  display: block;
}

.promo .small {
  display: none;
}

@media (max-width: 1279px) {
  .promo {
    display: block;
    width: 180px;
  }

  .promo .large {
    display: none;
  }
  
  .promo .small {
    display: block;
  }
}
