.search {
  border: 1px solid;
  border-color: #777 #aaa #aaa #777;
  border-radius: 1px;
  display: flex;
  flex-direction: row;
  height: 32px;
  margin: 11px 42px 0 20px;
  max-height: 32px;
  max-width: 640px;
  min-width: 320px;
  order: 2;
  width: 100%;
}

.search .category {
  display: block;
  height: 30px;
  max-width: 100%;
  position: relative;
  width: auto;
}

.search .facade {
  background-image: linear-gradient(to bottom, #eee, #bbb);
  border: 1px solid;
  border-color: #fff #888 #888 #fff;
  border-radius: 1px;
  float: left;
  height: 30px;
  position: relative;
}

.search .facade span {
  background: none;
  color: #555;
  font-size: 1.4rem;
  line-height: 28px;
  margin: 0 21px 0 8px;
}

.search .facade img {
  position: absolute;
  right: 7px;
  top: 12px;
}

.search select {
  border: 0;
  cursor: pointer;
  height: 30px;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.search option {
  font-size: 1.4rem;
}

.search .insert {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 30px;
  position: relative;
  width: 100%;
}

#search-input {
  border: none;
  /*border-right: 1px solid #ccc;*/
  outline: none;
  margin: 0;
  padding: 3px 10px 3px 0;
  font-size: 1.4rem;
  text-indent: 5px;
  width: 100%;
}

.magnifying-glass {
  cursor: pointer;
  width: 32px;
  padding-left: 8px;
  padding-right: 8px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-top-color: #eee;
  border-right-color: #777;
  border-bottom-color: #777;
  border-left-color: #eee;
  background-image: linear-gradient(to bottom, #bfddfa, #87c6fd);
  line-height: 26px;
}

.magnifying-glass:hover,
.magnifying-glass:active {
  background-image: linear-gradient(to bottom, #9ed2ff, #5cb3ff);
}

.magnifying-glass span {
  position: relative;
  top: 7px;
  display: block;
  height: 12px;
  width: 12px;
  border: 2px solid #555;
  border-radius: 30px;
  background-color: none;
  margin-bottom: 1px;
  cursor: pointer;
}

.magnifying-glass span:after {
  position: absolute;
  top: 9px;
  left: 6px;
  height: 2px;
  width: 7px;
  background-color: #555;
  content: "";
  transform: rotate(45deg);
  cursor: pointer;
}

.autosuggestions {
  border: 1px solid #bfbfbf;
}

.autosuggestions ul {
  list-style-type: none;
  overflow: hidden;
}

.autosuggestions li,
.autosuggestions li span {
  color: #666;
  cursor: pointer;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 100;
  height: 30px;
  line-height: 26px;
  overflow: hidden;
  width: 100%;
}

.autosuggestions li {
  padding: 0 10px;
}

.autosuggestions li em {
  font-style: normal;
  font-weight: 700;
}

/*

Light/Day/Sun Theme

*/

.light #search-input {
  background-color: #fff;
  color: #111;
}

.light .autosuggestions li {
  background-color: #fff;
  color: #666;
}

.light .autosuggestions li em {
  color: #111;
}

.light .autosuggestions li[aria-selected=true],
.light .autosuggestions li[aria-selected=true] > * {
  background-color: #ddd;
}

/*

Dark/Night/Moon Theme

*/

.dark #search-input {
  background-color: #333;
  color: #bbb;
}

.dark .autosuggestions li {
  background-color: #222;
  color: #aaa;
}

.dark .autosuggestions li em {
  color: #bcbcbc;
}

.dark .autosuggestions li[aria-selected=true],
.dark .autosuggestions li[aria-selected=true] > * {
  background-color: #444;
}
