.user-nav {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 300px;
  min-width: 300px;
  order: 3;
  padding: 17px 15px 0 0;
  width: 300px;
}

.sun {
  color: #fffdb1;
  font-style: normal;
}

.moon {
  color: #183a39;
  font-style: normal;
}

.user-nav .mode {line-height: 16px;}

.user-nav .mode,
.user-nav a {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1.4rem;
  height: 16px;
  margin: 0 9px;
  text-decoration: none;
}

.user-nav a:hover,
.user-nav a:active {
  text-decoration: underline;
}