.one-col-a {
  margin: 20px auto 0px auto;
  max-width: 1200px;  /* ? */
  min-width: 300px;  /* ? */
  padding: 10px 10px;
}



.light .one-col-a {
  background-color: #fff;
  color: #000;
}



.dark .one-col-a {
  background-color: #222;
  color: #aaa;
}



/* NEED CLASSES */

.light .one-col-a label {
  color: #777;
}

.light .one-col-a :is(input, select, textarea) {
  background-color: #fff;
  border-color: #bbb;
  color: #000;
}

.light .one-col-a option {
  background-color: #fff;
  color: #000;
}

/* PROFILE (a needs a class) */

.light .one-col-a .profile-list-item {
  border-color: #ddd;
}

.light .one-col-a .profile-list-item:nth-child(even) {
  background-color: #eee;
}

.light .one-col-a .profile-list-item-name a:hover {
  color: #c10006;
}

/* NEED CLASSES, NEWRECIPE? */

.dark .one-col-a label,
.dark .one-col-a .method-span-label,
.dark .one-col-a .ownership-span-label {
  color: #999;
}

.dark .one-col-a .equipment_row:nth-child(even),
.dark .one-col-a .ingredient_row:nth-child(even),
.dark .one-col-a .subrecipe_row:nth-child(even) {
  background-color: #2d2d2d;
}

.dark .one-col-a :is(input, select, textarea) {
  background-color: #1e1e1e;
  border-color: #666;
  color: #bbb;
}

.dark .one-col-a option {
  background-color: #1e1e1e;
  color: #bbb;
}

/* PROFILE (a needs a class) */

.dark .one-col-a .profile-list-item {
  border-color: #3a3a3a;
}

.dark .one-col-a .profile-list-item:nth-child(even) {
  background-color: #2d2d2d;
}

.dark .one-col-a .profile-list-item-name a:hover {
  color: #690004;
}
