* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html, #root {
  max-width: calc(100vw - (100vw - 100%));
  min-width: calc(100vw - (100vw - 100%));
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  height: 100%;
  margin: 0 auto 0 auto;
  min-height: 100vh;
  overflow-x: hidden;  /* kind of a hack job IMHO... */
}

a, li, p, span, td, th {font-size: 1.3rem;}

h1, h2, h3, h4 {
  font-weight: bold;
  line-height: 1.2;
}

h1 {font-size: 2.8rem;}

h2 {font-size: 2rem;}

h3 {font-size: 1.6rem;}

h4 {font-size: 1.4rem;}

.left-nav-toggle {
  cursor: pointer;
  height: 24px;
  margin: 16px 0 0 8px;
  order: 1;
  width: 24px;
}

.feedback {
  color: #c10006;
  display: block;
  font-size: 14px;
  height: 31px;
  text-align: center;
  width: 100%;
}

.cancel-button,
.submit-button {
  border: 1px solid #aaa;
  border-radius: 2px;
  color: black;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 26px;
  margin: 15px 30px 0 0;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  width: 235px;
}

.cancel-button {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.submit-button {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}

.crop-tool-tip {display: block;}

.crops {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.crop-full-outer,
.crop-thumb-outer,
.crop-tiny-outer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  order: 1;
  padding: 10px;
}

.crop-full,
.crop-thumb,
.crop-tiny {margin-left: 5px;}

.image-cancel-button {
  height: 21px;
  padding: 0 6px;
}

@media (max-width: 899px) {
  body, html, #root {min-width: 300px;}

  h1 {font-size: 2rem;}

  h2 {font-size: 1.7rem;}

  h3 {font-size: 1.5rem;}

  h4 {font-size: 1.4rem;}

  .cancel-button,
  .submit-button {margin: 15px auto 0 auto;}
}

/*@import 'react-image-crop/lib/ReactCrop.scss';*/
/*@import 'react-image-crop/lib/ReactCrop.module.scss';*/
/*@import 'react-image-crop/dist/ReactCrop.module.css';*/

@import './components/addToCartButton.css';
@import './components/app.css';
@import './components/breadcrumbs.css';
@import './components/expandCollapse.css';
@import './components/feed.css';
@import './components/footer.css';
@import './components/header.css';
@import './components/home.css';
@import './components/layout.css';
@import './components/leftNav.css';
@import './components/loaderSpinner.css';
@import './components/logo.css';
@import './components/main.css';
@import './components/menu.css';
@import './components/messages.css';
@import './components/options.css';
@import './components/people.css';
@import './components/promo.css';
@import './components/removeFromCartButton.css';
@import './components/search.css';
@import './components/siteNav.css';
@import './components/starRating.css';
@import './components/suggestions.css';
@import './components/userNav.css';

@import './pages/cart.css';
@import './pages/chat.css';
@import './pages/checkout.css';
@import './pages/content.css';
@import './pages/dashboard.css';
@import './pages/equipment.css';
@import './pages/equipments.css';
@import './pages/friends.css';
@import './pages/ingredient.css';
@import './pages/ingredients.css';
@import './pages/login.css';
@import './pages/navigation.css';
/*@import './NewContent/components/';*/
@import './pages/newEquipment.css';
@import './pages/newIngredient.css';
@import './pages/newPlan.css';
@import './pages/newRecipe.css';
@import './pages/notFound.css';
@import './pages/plan.css';
@import './pages/product.css';
@import './pages/products.css';
@import './pages/profile.css';
@import './pages/recipe.css';
@import './pages/recipes.css';
@import './pages/register.css';
@import './pages/supply.css';

@import './themes/navGridA.css';
@import './themes/oneColumnA.css';
@import './themes/tableA.css';
@import './themes/twoColumnA.css';
@import './themes/twoColumnB.css';