*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

:root {
  min-width: 300px;
  height: 100vh;
  min-height: 100vh;
  font-size: 10px;
  color-scheme: dark light;
}

body {
  min-width: 300px;
  height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;  /* kind of a hack job IMHO... see if this is really needed */
  font-family: Helvetica, sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a,
li,
p,
span,
td,
th {
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  padding: 18px 0;
  font-size: 2.8rem;
}

h2 {
  padding: 10px 0;
  font-size: 2rem;
}

h3 {
  padding: 6px 0;
  font-size: 1.6rem;
}

h4 {
  padding: 4px 0;
  font-size: 1.4rem;
}

.feedback {
  display: block;
  height: 31px;
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  color: #c10006;
}

input {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 3px 7px;
  width: 235px;
}

input,
textarea,
select {
  height: 31px;
  font-size: 1.4rem;
}

input:focus,
textarea:focus,
select:focus {
  outline: solid 2px #b4d8fa;
}

.cancel-button,
.submit-button {
  border: 1px solid #aaa;
  border-radius: 2px;
  color: black;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 26px;
  margin: 15px 30px 0 0;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  width: 235px;
}

.cancel-button {
  background-image: linear-gradient(to bottom, #ffd6d6, #ffb7b7);
}

.submit-button {
  background-image: linear-gradient(to bottom, #d5fdd5, #acfbac);
}

.crop-tool-tip {
  display: block;
}

.crops {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.crop-full-outer,
.crop-thumb-outer,
.crop-tiny-outer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  order: 1;
  padding: 10px;
}

.crop-full,
.crop-thumb,
.crop-tiny {
  margin-left: 5px;
}

.image-cancel-button {
  height: 21px;
  padding: 0 6px;
}

.img-280-280 {
  min-height: 280px;
  min-width: 280px;
}

.img-100-100 {
  min-height: 100px;
  min-width: 100px;
}

.img-28-28 {
  min-height: 28px;
  min-width: 28px;
}

/*

Light Theme

*/

.light .img-280-280,
.light .img-100-100,
.light .img-28-28 {
  background-color: #c10006;
}

/*

Dark Theme

*/

.dark .img-280-280,
.dark .img-100-100,
.dark .img-28-28 {
  background-color: #690004;
}

@media (max-width: 899px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  .cancel-button,
  .submit-button {
    margin: 15px auto 0 auto;
  }
}

@import './components/breadcrumbs.css';
@import './components/crop-preview.css';
@import './components/expand-collapse.css';
@import './components/footer.css';
@import './components/header.css';
@import './components/layout.css';
@import './components/left-nav.css';
@import './components/loader-spinner.css';
@import './components/main.css';
@import './components/pagination.css';
@import './components/results-per-page.css';

@import './layouts/one-col.css';

@import './pages/auth.css';
@import './pages/chat.css';
@import './pages/dashboard.css';
@import './pages/equipment-detail.css';
@import './pages/equipment-form.css';
@import './pages/friends.css';
@import './pages/home.css';
@import './pages/ingredient-detail.css';
@import './pages/ingredient-form.css';
@import './pages/not-found.css';
@import './pages/plan-detail.css';
@import './pages/plan-form.css';
@import './pages/profile.css';
@import './pages/recipe-detail.css';
@import './pages/recipe-form.css';
@import './pages/search-results.css';
